$scale: (
  0: -0.05em,
  1: 0.025em,
  2: 0.05em,
  3: 0.075em,
  4: 0.15em,
  5: 0.5em,
  6: 0.75em,
  7: 1em,
);

$tighter: -0.05em;
$tight: -0.025em;
$normal: 0em;
$wide: 0.025em;
$wider: 0.05em;
$widest: 0.1em;
