@use "sass:meta";

@use "./colors.scss" as colors;
@use "./sizes.scss" as sizes;

$default-theme: (
  color: meta.module-variables(colors),
  size: meta.module-variables(sizes),
);

@forward "../../../" with (
  $theme: $default-theme
);
