$mobile: 'only screen and (max-width: 667px)';
$tablet: 'only screen and (min-width: 668px) and (max-width: 1024px)';
$desktop: 'only screen and (max-width: 1024px)';
$retina: 'only screen and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)';
$landscape: 'screen and (orientation:landscape)';
$portrait: 'screen and (orientation:portrait)';