<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="icon" href="{{ '/favicon.ico' | url }}" type="image/x-icon" />
    <link rel="shortcut icon" href={{ '/favicon.ico' | url }}"
    type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=optional"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
    <link
      href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css"
      rel="stylesheet"
    />
    <style>
      body.loading * {
        animation-duration: 0s !important;
        -webkit-animation-duration: 0s !important;
        transition: background-color 0s, opacity 0s, color 0s, width 0s,
          height 0s, padding 0s, margin 0s !important;
      }
    </style>
  </head>
  <body id="nightModeDiv" class="loading">
    <script src="{{ '/js/script.js' | url }}" type="text/javascript"></script>
    {% include "components/navbar.html" %}
    <main>{{ content }}</main>
    {% include "components/footer.html" %}
  </body>
</html>
