$background: oklch(1 0 0);
$foreground: oklch(0.141 0.005 285.823);

$card: oklch(1 0 0);
$card-foreground: oklch(0.141 0.005 285.823);
$card-border: oklch(0.141 0.005 285.823);

$popover: oklch(1 0 0);
$popover-foreground: oklch(0.141 0.005 285.823);

$primary: oklch(0.577 0.245 27.325);
$primary-foreground: oklch(0.971 0.013 17.38);
$secondary: oklch(0.967 0.001 286.375);
$secondary-foreground: oklch(0.21 0.006 285.885);
$muted: oklch(0.967 0.001 286.375);
$muted-foreground: oklch(0.552 0.016 285.938);
$accent: oklch(0.967 0.001 286.375);
$accent-foreground: oklch(0.21 0.006 285.885);
$destructive: oklch(0.577 0.245 27.325);

$border: oklch(0.92 0.004 286.32);
$input: oklch(0.92 0.004 286.32);
$ring: oklch(0.704 0.191 22.216);

$chart-1: oklch(0.808 0.114 19.571);
$chart-2: oklch(0.637 0.237 25.331);
$chart-3: oklch(0.577 0.245 27.325);
$chart-4: oklch(0.505 0.213 27.518);
$chart-5: oklch(0.444 0.177 26.899);

$sidebar: oklch(0.985 0 0);
$sidebar-foreground: oklch(0.141 0.005 285.823);
$sidebar-primary: oklch(0.577 0.245 27.325);
$sidebar-primary-foreground: oklch(0.971 0.013 17.38);
$sidebar-accent: oklch(0.967 0.001 286.375);
$sidebar-accent-foreground: oklch(0.21 0.006 285.885);
$sidebar-border: oklch(0.92 0.004 286.32);
$sidebar-ring: oklch(0.704 0.191 22.216);
