<header>
  <nav>
    <a href="{{ '/' | url }}" class="logo">Oikaze</a>

    <div class="nav-list">
      <a href="{{ '/tutorial/' | url }}">Tutorial</a>
      <a href="{{ '/recipes/' | url }}">Examples</a>
      <div class="night-mode-btn">
        <input type="checkbox" id="toggleMode" class="night-mode-btn__toggle" />
        <label
          for="toggleMode"
          class="night-mode-btn__label night-mode-btn__label--moon"
        >
        </label>
        <label
          for="toggleMode"
          class="night-mode-btn__label night-mode-btn__label--sun"
        >
        </label>
      </div>
    </div>
  </nav>
</header>
