<header>
  <nav>
    <p class="logo">Oikaze</p>

    <div class="nav-list">
      <a href="/oikaze/">Home</a>
      <a href="/oikaze/tutorial/">Tutorial</a>
      <div class="night-mode-btn">
        <input type="checkbox" id="toggleMode" class="night-mode-btn__toggle" />
        <label
          for="toggleMode"
          class="night-mode-btn__label night-mode-btn__label--moon"
        >
        </label>
        <label
          for="toggleMode"
          class="night-mode-btn__label night-mode-btn__label--sun"
        >
        </label>
      </div>
    </div>
  </nav>
</header>
