@use 'sass:map';
@use 'sass:meta';
@use 'sass:string';
@use 'sass:list';

@use './tokens/' as tokens;
@use './mixins' as mixins;

@font-face {
  font-family: 'Quicksand-fallback';
  size-adjust: 104.34%;
  ascent-override: 97%;
  src: local('Arial');
}

:root {
  color-scheme: light;
  @include tokens.css-definitions();
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    @include tokens.css-definitions('light');
  }
}

[data-theme='light'] {
  color-scheme: light;
  @include tokens.css-definitions('light');
}

[data-theme='dark'] {
  color-scheme: dark;
  @include tokens.css-definitions('dark');
}

[data-theme='grape'] {
  color-scheme: light;
  @include tokens.css-definitions('grape');
}

[data-theme='choco'] {
  color-scheme: dark;
  @include tokens.css-definitions('choco');
}

html,
body {
  font-size: 100%;
  font-family: tokens.get('$font.sans');

  accent-color: tokens.get('color.brand');
  caret-color: tokens.get('color.brand');
  color: tokens.get('color.text-1');
  background-color: tokens.get('color.surface-1');
}

body {
  overflow-y: overlay;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

  @include tokens.media('base:$media.mobile', 'base:$media.tablet') {
    header,
    footer,
    main {
      width: tokens.get('base:$media.mobile-width');
    }
  }

  &.loaded {
    transition-timing-function: tokens.get('base:$ease.in-out-3');
    transition-duration: tokens.get('base:$duration.gentle-1');
    transition-delay: 0;
    transition-property: background-color, color;
  }
}

@include mixins.scrollbars(
  10px,
  tokens.get('color.scrollbar-thumb'),
  tokens.get('color.scrollbar-track'),
  tokens.get('color.scrollbar-thumb--hover')
);

header,
main,
footer {
  width: tokens.get('base:$media.desktop-max');
  min-width: tokens.get('base:$media.mobile-min');
  margin-right: auto;
  margin-left: auto;
}

.banner,
.quote,
.tagline {
  color: tokens.get('color.text-1');
  font-weight: tokens.get('base:$weight.bold');
  margin: tokens.rem('base:$text-size.lg') auto;
  text-align: center;
  width: 70%;
}

.banner {
  font-size: tokens.rem('base:$text-size.huge');
  font-family: tokens.get('$font.brand');

  @include tokens.media('base:$media.mobile') {
    font-size: tokens.rem('base:$text-size.lg');
  }
}

.quote {
  color: tokens.get('color.brand');
  font-family: tokens.get('$font.brand');
  font-display: swap;
}

.quote,
.tagline {
  font-size: tokens.rem('base:$text-size.lg');
  line-height: tokens.get('base:$leading.normal');
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

.img-fluid {
  margin-bottom: tokens.rem('base:$spacing.xs');
  padding-bottom: tokens.rem('base:$spacing.xs');

  img {
    max-width: 100%;
    height: auto;
  }
}

.img-caption {
  font-size: tokens.rem('base:$text-size.sm');
  margin-top: tokens.rem('base:$spacing.xs');
  padding-top: tokens.rem('base:$spacing.xs');
  font-style: italic;
  text-align: center;
}

.recipes,
.concepts {
  font-size: 1.2rem;
  line-height: 1.5;
}

.features {
  font-size: tokens.rem('base:$leading.normal');
  line-height: tokens.rem('base:$leading.loose');
  list-style: none;
  margin: 40px auto 60px;
  padding-left: 20px;
  text-align: center;

  li {
    margin-left: 0;

    &::before {
      display: inline-block;
      content: '  ';
      width: 24px;
      height: 24px;
      margin-right: 0.5rem;

      background-color: tokens.get('color.brand');
      top: 2px;
      position: relative;
      mask-image: tokens.get('icon.logo');
      -webkit-mask-image: tokens.get('icon.logo');
    }
  }
}

.concepts-table {
  display: none;

  & + table {
    line-height: tokens.rem('base:$leading.loose');
    width: 100%;
    margin: 0 40px;
  }
}

ul {
  line-height: tokens.rem('base:$leading.relaxed');
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: tokens.rem('base:$spacing.md');
}

.col {
  flex: 1;
}

.theme-preview-container {
  display: flex;
  flex-wrap: wrap;
  gap: tokens.rem('base:$spacing.md');
}

.theme-preview {
  display: flex;
  flex-direction: row;

  width: 33%;
  margin: 0 auto;
  font-size: tokens.rem('base:$text-size.sm');
  color: tokens.get('color.text-1');
  background-color: tokens.get('color.surface-2');
  box-shadow: tokens.get('base:$shadow.md');
  border-radius: tokens.get('base:$spacing.sm');
  border: 1px solid tokens.get('color.border');
  padding: tokens.get('base:$spacing.xs') tokens.get('base:$spacing.md');
  cursor: pointer;
  gap: 15px;

  h3 {
    color: tokens.get('color.brand');
  }

  &__backgrounds {
    outline: tokens.get('color.border') solid 1px;
    flex: 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    width: 30px;
    height: calc(
      100% + tokens.get('base:$spacing.xs') + tokens.get('base:$spacing.xs')
    );
    display: flex;
    margin-bottom: tokens.rem('base:$spacing.sm');
    margin-left: -16px;
    margin-top: calc(-0px - #{tokens.get('base:$spacing.xs')});
    border-top-left-radius: tokens.get('base:$spacing.sm');
    border-bottom-left-radius: tokens.get('base:$spacing.sm');
    overflow: hidden;
  }

  &__background {
    outline: tokens.get('color.border') solid 1px;
    flex: 0 1 50%;
    width: 100%;
    display: block;
    background-color: blue;
  }

  &__content {
    flex: 0 1 100%;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: tokens.rem('base:$spacing.sm');
    gap: tokens.rem('base:$spacing.md');
  }

  p {
    padding: 0;
    margin: 0;
  }

  button {
    float: right;
    background-color: tokens.get('color.brand');
    color: tokens.get('color.surface-1');
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
  }

  .star {
    color: tokens.get('color.surface-1');
    width: 16px;
    height: 16px;
    display: inline-block;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;

    background-color: tokens.get('color.brand');
    mask-image: tokens.get('icon.star');
    -webkit-mask-image: tokens.get('icon.star');
  }

  .color-swatch {
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: tokens.get('base:$weight.bold');
    margin: tokens.rem('base:$spacing.xs');
    border-radius: tokens.get('base:$spacing.sm');
    border: 1px solid tokens.get('color.border');
  }

  // @each $name, $map in tokens.$sets {
  //   &.#{$name} {
  //     @include tokens.css-definitions($name);
  //   }
  // }
}
