@use 'sass:math';

@mixin scrollbars(
  $size: 10px,
  $foreground-color: #999,
  $background-color: #333,
  $foreground-hover-color: #999
) {
  // For Chrome & Safari
  ::-webkit-scrollbar {
    width: $size;
    height: $size;

    &-thumb {
      border-radius: math.div($size, 2);
      background: $foreground-color;
  
      &:hover {
        background: $foreground-hover-color;
      }
    }
    &-track {
      border-radius: math.div($size, 2);;
      background: $background-color;
    }
  }

  // Standard version (Firefox only for now)
  body {
    scrollbar-color: $foreground-color $background-color;
    scrollbar-width: $size;
  }
}