@use 'sass:map';
@use './tokens/' as tokens;

@use './mixins' as mixins;

:root {
  font: 16px tokens.get('font.variant');

  @include tokens.spread-variables();

  @include tokens.media('$media.mobile', '$media.tablet') {
    font: 14px tokens.get('font.variant');
  }
}

body {
  font-variant: tokens.get('font.variant');
  margin: 0;
  padding: 0;
  color: tokens.get('color.foreground');
  background-color: tokens.get('color.background');
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

  @include tokens.media('$media.mobile', '$media.tablet') {
    header,
    footer,
    main {
      width: 90vw;
    }
  }

  &.dark {
    @include tokens.spread-variables('dark-theme');
  }
}

@include mixins.scrollbars(
  10px,
  tokens.get('color.scrollbar-thumb'),
  tokens.get('color.scrollbar-track'),
  tokens.get('color.scrollbar-thumb--hover')
);

header,
main,
footer {
  width: tokens.get('$media.desktop-max');
  margin-right: auto;
  margin-left: auto;
  min-width: tokens.get('$media.mobile-min');
}

nav {
  padding: 0.75rem;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 1px;

  .nav-list {
    display: flex;
    align-items: center;

    a {
      margin-right: 2rem;
      text-decoration: none;
      color: tokens.get('color.primary');
      font-weight: bold;
      font-size: medium;
      font-family: tokens.get('font.quicksand');

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .logo {
    color: tokens.get('color.primary');
    margin: 0;
    font-weight: bold;
    font-size: medium;
    font-family: tokens.get('font.quicksand');
    text-decoration: none;

    &:before {
      display: inline-block;
      content: '&nbsp;';
      width: 24px;
      height: 24px;
      margin-right: 0.5rem;

      background-color: tokens.get('color.primary');
      top: -1px;
      position: relative;
      mask-image: tokens.get('icon.logo');
      -webkit-mask-image: tokens.get('icon.logo');
    }
  }

  .night-mode-btn {
    overflow: hidden;
    height: 24px;
    width: 24px;

    &__toggle {
      visibility: hidden;
    }

    &__label {
      position: absolute;
      height: 24px;
      width: 24px;
      display: block;

      cursor: pointer;
      border: none;
      transition-property: opacity, transform;
      transition: tokens.get('toogle.transition');

      &--sun {
        background-color: tokens.get('$color.accent');
        mask-image: tokens.get('icon.sun');
        -webkit-mask-image: tokens.get('icon.sun');
        opacity: tokens.get('toogle.sun-opacity');
        transform: translate(0, tokens.get('toogle.sun-position'));
      }

      &--moon {
        background-color: tokens.get('$color.secondary');
        mask-image: tokens.get('icon.moon');
        -webkit-mask-image: tokens.get('icon.moon');
        opacity: tokens.get('toogle.moon-opacity');
        transform: translate(0, tokens.get('toogle.moon-position'));
      }
    }
  }

  #toggleMode {
    visibility: hidden;
  }
}

main {
  margin-left: auto;
  margin-right: auto;

  a {
    color: tokens.get('color.link');
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    padding: 0.75rem;
    line-height: 1.5rem;
  }
}

footer {
  padding: 0.75rem;
  justify-content: space-between;
  margin: 2.5rem auto;
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;

  a {
    margin: 0;
    color: tokens.get('color.foreground');
    display: inline-block;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

pre[class*='language-'] {
  box-shadow: tokens.get('$shadow.lg');
  margin: 1.5rem !important;

  @include tokens.media('$media.mobile') {
    width: 100vw;
    margin: 1.5rem -10vw !important;
    padding: 1em 10vw !important;
  }
}

.banner,
.quote,
.tagline {
  color: tokens.get('color.emphasis');
  text-align: center;
  font-weight: bold;

  width: 70%;
  margin: tokens.rem('font.lg') auto;
}

.banner {
  font-size: tokens.rem('font.xlg');
  font-family: tokens.get('font.quicksand');
}

.quote {
  color: tokens.get('color.primary');
  font-family: tokens.get('font.quicksand');
  font-display: swap;
}

.quote,
.tagline {
  font-size: tokens.rem('font.lg');
  line-height: 1.5em;
}

blockquote.card {
  background-color: tokens.with-opacity('$color.card-background', 0.1);
  box-shadow: tokens.get('shadow.lg');
  border-radius: 5px;
  border: 1px solid tokens.with-opacity('color.shadow', 0.2);
  padding: 10px;

  > p:first-child {
    color: tokens.get('color.emphasis');
    text-align: center;
    width: 100%;
    padding: 0 0.75rem;
  }

  @include tokens.media('$media.mobile') {
    width: 100vw;
    margin: 1.5rem -10vw !important;
    padding: 1em 10vw !important;
  }

  @include tokens.media('$media.desktop') {
    padding: 0;
    position: relative;
    float: left;
    display: block;
    width: 60%;
    margin: 0;
    margin-left: -80%;
    left: 80%;
    z-index: 1;

    > p:not(:first-child) {
      width: 55%;
    }

    & + pre[class*='language-'] {
      position: relative;
      margin: 3rem 0 20px 0 !important;
      float: right;
      width: 60%;
      z-index: 10;

      & + * {
        content: '';
        clear: both;
        display: table;
      }
    }
  }
}

.cheatsheet {
  clear: both;
  width: 100%;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 0;

  @include tokens.media('$media.desktop') {
    & + pre[class*='language-'] {
      width: 42%;
      float: left;
    }

    & + pre[class*='language-'] + pre[class*='language-'] {
      width: 42%;
      float: right;
    }
  }
}
