@use 'sass:meta';

@use './colors.scss' as colors;
@use './sizes.scss' as sizes;

@forward '../../../' with (
  $theme: (
    color: meta.module-variables(colors),
    size: meta.module-variables(sizes),
  )
);
