@use 'sass:map';
@use 'sass:string';

@use 'tokens' as tokens;

:root {
  @include tokens.css-definitions();
}

/* *** COLORS *** */

@each $token in tokens.all('color') {
  $var: tokens.prop($token);
  $value: tokens.get($token);

  // remove the leading '--color-' from the variable name
  $var: string.slice($var, 9);
  $val: tokens.get($token);

  /* color #{$var} */

  .color-#{$var},
  .focus\.color-#{$var}:focus,
  .hover\.color-#{$var}:hover {
    --color-opacity: 1;
    color: color-mix(in srgb, $val var(--color-opacity, 1), transparent);
  }

  .bg-#{$var},
  .focus\.bg-#{$var}:focus,
  .hover\.bg-#{$var}:hover {
    --bg-opacity: 1;
    background-color: color-mix(in srgb, $val var(--bg-opacity, 1), transparent);
  }

  .border-#{$var},
  .focus\.border-#{$var}:focus,
  .hover\.border-#{$var}:hover {
    --border-opacity: 1
    border-color: color-mix(in srgb, $val var(--border-opacity, 1), transparent);
  }
}

/* *** SIZES *** */

@each $token in tokens.all('size') {
  $var: tokens.prop($token);

  // remove the leading '--size-' from the variable name
  $var: string.slice($var, 8);
  $rem: tokens.rem($token);
  $px: tokens.get($token);

  /* size #{$var} */

  .top-#{$var} {
    top: $px;
  }

  .right-#{$var} {
    right: $px;
  }

  .bottom-#{$var} {
    bottom: $px;
  }

  .left-#{$var} {
    left: $px;
  }

  .m-#{$var} {
    margin: $px;
  }

  .mt-#{$var} {
    margin-top: $px;
  }

  .mr-#{$var} {
    margin-right: $px;
  }

  .mb-#{$var} {
    margin-bottom: $px;
  }

  .ml-#{$var} {
    margin-left: $px;
  }

  .my-#{$var} {
    margin-top: $px;
    margin-bottom: $px;
  }

  .mx-#{$var} {
    margin-left: $px;
    margin-right: $px;
  }

  .p-#{$var} {
    padding: $px;
  }

  .pt-#{$var} {
    padding-top: $px;
  }

  .pr-#{$var} {
    padding-right: $px;
  }

  .pb-#{$var} {
    padding-bottom: $px;
  }

  .pl-#{$var} {
    padding-left: $px;
  }

  .py-#{$var} {
    padding-top: $px;
    padding-bottom: $px;
  }

  .px-#{$var} {
    padding-left: $px;
    padding-right: $px;
  }

  .border-#{$var} {
    border-width: $px;
  }

  .border-y-#{$var} {
    border-top-width: $px;
    border-bottom-width: $px;
  }

  .border-x-#{$var} {
    border-left-width: $px;
    border-right-width: $px;
  }

  .radius-#{$var} {
    border-radius: $px;
  }

  .gap-#{$var} {
    gap: $px;
  }

  .row-gap-#{$var} {
    row-gap: $px;
  }

  .col-gap-#{$var} {
    column-gap: $px;
  }

  .w-#{$var} {
    width: $px;
  }

  .h-#{$var} {
    height: $px;
  }

  .max-w-#{$var} {
    max-width: $px;
  }

  .max-h-#{$var} {
    max-height: $px;
  }

  .min-w-#{$var} {
    min-width: $px;
  }

  .min-h-#{$var} {
    min-height: $px;
  }
}

/* *** TEXT *** */

@each $token in tokens.all('text', false) {
  $var: tokens.prop($token);

  // remove the leading '--text-' from the variable name
  $var: string.slice($var, 8);

  .text-#{$var} {
    @include tokens.apply($token);
  }

  .font-#{$var} {
    font-size: tokens.get($token + '.font-size');
  }
}

@each $token in tokens.all('weight') {
  $var: tokens.prop($token);

  // remove the leading '--weight-' from the variable name
  $var: string.slice($var, 10);

  .#{$var},
  .hover\.#{$var}:hover {
    font-weight: tokens.get($token);
  }
}

@each $token in tokens.all('leading') {
  $var: tokens.prop($token);

  // remove the leading '--leading-' from the variable name
  $var: string.slice($var, 11);

  .leading-#{$var},
  .hover\.leading-#{$var}:hover {
    line-height: tokens.get($token);
  }
}

@each $token in tokens.all('tracking') {
  $var: tokens.prop($token);

  // remove the leading '--tracking-' from the variable name
  $var: string.slice($var, 12);

  .tracking-#{$var} {
    letter-spacing: tokens.get($token);
  }
}

@each $token in tokens.all('family') {
  $var: tokens.prop($token);

  // remove the leading '--family-' from the variable name
  $var: string.slice($var, 10);

  .font-#{$var} {
    letter-spacing: tokens.get($token);
  }
}

/* *** OPACITY *** */

@each $token in tokens.all('opacity') {
  $var: tokens.prop($token);

  // remove the leading '--opacity-' from the variable name
  $var: string.slice($var, 11);

  .opacity-#{$var},
  .focus\.opacity-#{$var}:focus,
  .hover\.opacity-#{$var}:hover {
    opacity: tokens.percentage($token);
  }

  .color-opacity-#{$var},
  .focus\.color-opacity-#{$var}:focus,
  .hover\.color-opacity-#{$var}:hover {
    --color-opacity: tokens.percentage($token);
  }

  .bg-opacity-#{$var},
  .focus\.bg-opacity-#{$var}:focus,
  .hover\.bg-opacity-#{$var}:hover {
    --bg-opacity: tokens.percentage($token);
  }

  .border-opacity-#{$var},
  .focus\.border-opacity-#{$var}:focus,
  .hover\.border-opacity-#{$var}:hover {
    --border-opacity: tokens.percentage($token);
  }
}

/* *** MOTION *** */

@each $token in tokens.all('timing') {
  $var: tokens.prop($token);

  // remove the leading '--timing-' from the variable name
  $var: string.slice($var, 10);

  .delay-#{$var} {
    transition-delay: tokens.get($token);
  }

  .duration-#{$var} {
    transition-duration: tokens.get($token);
  }
}

/* *** Z-INDEX *** */

@each $token in tokens.all('zindex') {
  $var: tokens.prop($token);

  // remove the leading '--timing-' from the variable name
  $var: string.slice($var, 10);

  .z-#{$var} {
    z-index: tokens.get($token);
  }
}
