.element { /* tokens.apply-utility */
  color: color-mix(in srgb, var(--color-success, #006820) var(--color-opacity, 1), transparent);
  color: #006820;
  color: color-mix(in srgb, var(--color-success, #006820) calc(var(--opacity-80--em, 0.8) * 100%), transparent);
  color: rgba(0, 104, 32, 0.8);
}

.element { /* tokens.u */
  /* text--color */
  color: color-mix(in srgb, var(--color-success, #006820) var(--color-opacity, 1), transparent);
  color: color-mix(in srgb, var(--color-success, #006820) var(--color-opacity, 1), transparent);
  color: rgba(0, 104, 32, var(--color-opacity, 1));
  color: rgba(0, 104, 32, var(--color-opacity, 1));
  color: color-mix(in srgb, var(--color-text-primary, #111827) var(--color-opacity, 1), transparent);
  color: rgba(17, 24, 39, var(--color-opacity, 1));
  color: rgba(17, 24, 39, var(--color-opacity, 1));
  /* font--family */
  font-family: var(--family-sans, sans-serif);
  font-family: monospace;
  /* text--opacity */
  --color-opacity: calc(var(--opacity-50--em, 0.5) * 100%);
  --color-opacity: 50%;
  /* text--color--opacity */
  color: color-mix(in srgb, var(--color-success, #006820) calc(var(--opacity-50--em, 0.5) * 100%), transparent);
  color: rgba(0, 104, 32, 0.5);
  /* *** size *** */
  font-size: var(--size-xxs, 10px);
  font-size: 12px;
  margin-top: var(--size-xl, 20px);
  margin-bottom: var(--size-xl, 20px);
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: calc(var(--size-xxl--em, 1.5) * 1rem);
  border-radius: 1.5rem;
}
