/*! UniformCSS v1.5.4 | MIT License | github.com/ThinkUniform/uniformcss */
/*! purgecss start ignore */
:root {
  --FONT-FAMILIES-----------------:#01;
  --FONT-SIZES--------------------:#02;
  --font-xxs: 10px;
  --font-xs: 12px;
  --font-sm: 14px;
  --font-md: 16px;
  --font-lg: 18px;
  --font-xl: 20px;
  --font-xxl: 24px;
  --FONT-WEIGHTS------------------:#03;
  --ultralight: 100;
  --extralight: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 800;
  --ultrabold: 900;
  --LEADING-----------------------:#04;
  --TRACKING----------------------:#05;
  --TEXT-LEADING------------------:#06;
  --font-xxs-leading: 1;
  --font-xs-leading: 1;
  --font-sm-leading: 1;
  --font-md-leading: 1;
  --font-lg-leading: 1;
  --font-xl-leading: 1;
  --font-xxl-leading: 1;
  --RADIUS------------------------:#07;
  --BLUR--------------------------:#08;
  --SHADOWS-----------------------:#09;
  --GRADIENTS---------------------:#10;
  --COLORS------------------------:#11;
  --success: 0,104,32;
  --warning: 136,75,0;
  --danger: 113,17,0;
  --info: 0,104,101;
}

/*! purgecss end ignore */
.a1-color-success {
  --color-opacity: 1;
  color: rgba(var(--success), var(--color-opacity));
}

.a1-color-warning {
  --color-opacity: 1;
  color: rgba(var(--warning), var(--color-opacity));
}

.a1-color-danger {
  --color-opacity: 1;
  color: rgba(var(--danger), var(--color-opacity));
}

.a1-color-info {
  --color-opacity: 1;
  color: rgba(var(--info), var(--color-opacity));
}

.a1-color-transparent {
  --color-opacity: 1;
  color: transparent;
}

.a1-color-current {
  --color-opacity: 1;
  color: currentColor;
}

.a1-text-left {
  text-align: left;
}

.a1-text-center {
  text-align: center;
}

.a1-text-right {
  text-align: right;
}

.a1-text-justify {
  text-align: justify;
}

.a1-italic {
  font-style: italic;
}

.a1-normal {
  font-style: normal;
}

.a1-ultralight {
  font-weight: var(--ultralight);
}

.a1-extralight {
  font-weight: var(--extralight);
}

.a1-light {
  font-weight: var(--light);
}

.a1-regular {
  font-weight: var(--regular);
}

.a1-medium {
  font-weight: var(--medium);
}

.a1-semibold {
  font-weight: var(--semibold);
}

.a1-bold {
  font-weight: var(--bold);
}

.a1-extrabold {
  font-weight: var(--extrabold);
}

.a1-ultrabold {
  font-weight: var(--ultrabold);
}

.a1-font-xxs {
  font-size: var(--font-xxs);
}

.a1-font-xs {
  font-size: var(--font-xs);
}

.a1-font-sm {
  font-size: var(--font-sm);
}

.a1-font-md {
  font-size: var(--font-md);
}

.a1-font-lg {
  font-size: var(--font-lg);
}

.a1-font-xl {
  font-size: var(--font-xl);
}

.a1-font-xxl {
  font-size: var(--font-xxl);
}

.a1-bg-success {
  --bg-opacity: 1;
  background-color: rgba(var(--success), var(--bg-opacity));
}

.a1-bg-warning {
  --bg-opacity: 1;
  background-color: rgba(var(--warning), var(--bg-opacity));
}

.a1-bg-danger {
  --bg-opacity: 1;
  background-color: rgba(var(--danger), var(--bg-opacity));
}

.a1-bg-info {
  --bg-opacity: 1;
  background-color: rgba(var(--info), var(--bg-opacity));
}

.a1-bg-transparent {
  --bg-opacity: 1;
  background-color: transparent;
}

.a1-bg-current {
  --bg-opacity: 1;
  background-color: currentColor;
}

.a1-z-auto {
  z-index: auto;
}

.a1-z-0 {
  z-index: 0;
}

.a1-z-1 {
  z-index: 1;
}

.a1-z-2 {
  z-index: 2;
}

.a1-z-3 {
  z-index: 3;
}

.a1-z-4 {
  z-index: 4;
}

.a1-z-5 {
  z-index: 5;
}

.a1-z-6 {
  z-index: 6;
}

.a1-z-7 {
  z-index: 7;
}

.a1-z-8 {
  z-index: 8;
}

.a1-z-9 {
  z-index: 9;
}

.a1-z-10 {
  z-index: 10;
}

.hover\.a1-color-success:hover {
  --color-opacity: 1;
  color: rgba(var(--success), var(--color-opacity));
}

.group:hover .group-hover\.a1-color-success {
  --color-opacity: 1;
  color: rgba(var(--success), var(--color-opacity));
}

.focus\.a1-color-success:focus {
  --color-opacity: 1;
  color: rgba(var(--success), var(--color-opacity));
}

.hover\.a1-color-warning:hover {
  --color-opacity: 1;
  color: rgba(var(--warning), var(--color-opacity));
}

.group:hover .group-hover\.a1-color-warning {
  --color-opacity: 1;
  color: rgba(var(--warning), var(--color-opacity));
}

.focus\.a1-color-warning:focus {
  --color-opacity: 1;
  color: rgba(var(--warning), var(--color-opacity));
}

.hover\.a1-color-danger:hover {
  --color-opacity: 1;
  color: rgba(var(--danger), var(--color-opacity));
}

.group:hover .group-hover\.a1-color-danger {
  --color-opacity: 1;
  color: rgba(var(--danger), var(--color-opacity));
}

.focus\.a1-color-danger:focus {
  --color-opacity: 1;
  color: rgba(var(--danger), var(--color-opacity));
}

.hover\.a1-color-info:hover {
  --color-opacity: 1;
  color: rgba(var(--info), var(--color-opacity));
}

.group:hover .group-hover\.a1-color-info {
  --color-opacity: 1;
  color: rgba(var(--info), var(--color-opacity));
}

.focus\.a1-color-info:focus {
  --color-opacity: 1;
  color: rgba(var(--info), var(--color-opacity));
}

.hover\.a1-color-transparent:hover {
  --color-opacity: 1;
  color: transparent;
}

.group:hover .group-hover\.a1-color-transparent {
  --color-opacity: 1;
  color: transparent;
}

.focus\.a1-color-transparent:focus {
  --color-opacity: 1;
  color: transparent;
}

.hover\.a1-color-current:hover {
  --color-opacity: 1;
  color: currentColor;
}

.group:hover .group-hover\.a1-color-current {
  --color-opacity: 1;
  color: currentColor;
}

.focus\.a1-color-current:focus {
  --color-opacity: 1;
  color: currentColor;
}

.hover\.a1-ultralight:hover {
  font-weight: var(--ultralight);
}

.hover\.a1-extralight:hover {
  font-weight: var(--extralight);
}

.hover\.a1-light:hover {
  font-weight: var(--light);
}

.hover\.a1-regular:hover {
  font-weight: var(--regular);
}

.hover\.a1-medium:hover {
  font-weight: var(--medium);
}

.hover\.a1-semibold:hover {
  font-weight: var(--semibold);
}

.hover\.a1-bold:hover {
  font-weight: var(--bold);
}

.hover\.a1-extrabold:hover {
  font-weight: var(--extrabold);
}

.hover\.a1-ultrabold:hover {
  font-weight: var(--ultrabold);
}

.hover\.a1-bg-success:hover {
  --bg-opacity: 1;
  background-color: rgba(var(--success), var(--bg-opacity));
}

.group:hover .group-hover\.a1-bg-success {
  --bg-opacity: 1;
  background-color: rgba(var(--success), var(--bg-opacity));
}

.focus\.a1-bg-success:focus {
  --bg-opacity: 1;
  background-color: rgba(var(--success), var(--bg-opacity));
}

.hover\.a1-bg-warning:hover {
  --bg-opacity: 1;
  background-color: rgba(var(--warning), var(--bg-opacity));
}

.group:hover .group-hover\.a1-bg-warning {
  --bg-opacity: 1;
  background-color: rgba(var(--warning), var(--bg-opacity));
}

.focus\.a1-bg-warning:focus {
  --bg-opacity: 1;
  background-color: rgba(var(--warning), var(--bg-opacity));
}

.hover\.a1-bg-danger:hover {
  --bg-opacity: 1;
  background-color: rgba(var(--danger), var(--bg-opacity));
}

.group:hover .group-hover\.a1-bg-danger {
  --bg-opacity: 1;
  background-color: rgba(var(--danger), var(--bg-opacity));
}

.focus\.a1-bg-danger:focus {
  --bg-opacity: 1;
  background-color: rgba(var(--danger), var(--bg-opacity));
}

.hover\.a1-bg-info:hover {
  --bg-opacity: 1;
  background-color: rgba(var(--info), var(--bg-opacity));
}

.group:hover .group-hover\.a1-bg-info {
  --bg-opacity: 1;
  background-color: rgba(var(--info), var(--bg-opacity));
}

.focus\.a1-bg-info:focus {
  --bg-opacity: 1;
  background-color: rgba(var(--info), var(--bg-opacity));
}

.hover\.a1-bg-transparent:hover {
  --bg-opacity: 1;
  background-color: transparent;
}

.group:hover .group-hover\.a1-bg-transparent {
  --bg-opacity: 1;
  background-color: transparent;
}

.focus\.a1-bg-transparent:focus {
  --bg-opacity: 1;
  background-color: transparent;
}

.hover\.a1-bg-current:hover {
  --bg-opacity: 1;
  background-color: currentColor;
}

.group:hover .group-hover\.a1-bg-current {
  --bg-opacity: 1;
  background-color: currentColor;
}

.focus\.a1-bg-current:focus {
  --bg-opacity: 1;
  background-color: currentColor;
}

.focus\.a1-z-auto:focus {
  z-index: auto;
}

.focus\.a1-z-0:focus {
  z-index: 0;
}

.focus\.a1-z-1:focus {
  z-index: 1;
}

.focus\.a1-z-2:focus {
  z-index: 2;
}

.focus\.a1-z-3:focus {
  z-index: 3;
}

.focus\.a1-z-4:focus {
  z-index: 4;
}

.focus\.a1-z-5:focus {
  z-index: 5;
}

.focus\.a1-z-6:focus {
  z-index: 6;
}

.focus\.a1-z-7:focus {
  z-index: 7;
}

.focus\.a1-z-8:focus {
  z-index: 8;
}

.focus\.a1-z-9:focus {
  z-index: 9;
}

.focus\.a1-z-10:focus {
  z-index: 10;
}

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-current: currentColor;
  --color-transparent: transparent;
  --color-success: #006820;
  --color-warning: #884b00;
  --color-danger: #711100;
  --color-info: #006865;
  --size-xxs: 10px;
  --size-xxs--em: 0.625;
  --size-xs: 12px;
  --size-xs--em: 0.75;
  --size-sm: 14px;
  --size-sm--em: 0.875;
  --size-md: 16px;
  --size-md--em: 1;
  --size-lg: 18px;
  --size-lg--em: 1.125;
  --size-xl: 20px;
  --size-xl--em: 1.25;
  --size-xxl: 24px;
  --size-xxl--em: 1.5;
  --opacity-0: 0%;
  --opacity-0--em: 0;
  --opacity-10: 10%;
  --opacity-10--em: 0.1;
  --opacity-20: 20%;
  --opacity-20--em: 0.2;
  --opacity-30: 30%;
  --opacity-30--em: 0.3;
  --opacity-40: 40%;
  --opacity-40--em: 0.4;
  --opacity-50: 50%;
  --opacity-50--em: 0.5;
  --opacity-60: 60%;
  --opacity-60--em: 0.6;
  --opacity-70: 70%;
  --opacity-70--em: 0.7;
  --opacity-80: 80%;
  --opacity-80--em: 0.8;
  --opacity-90: 90%;
  --opacity-90--em: 0.9;
  --opacity-100: 100%;
  --opacity-100--em: 1;
  --leading-tightest: 1.125;
  --leading-tightest--em: 1.125;
  --leading-tighter: 1.25;
  --leading-tighter--em: 1.25;
  --leading-tight: 1.375;
  --leading-tight--em: 1.375;
  --leading-normal: 1.5;
  --leading-normal--em: 1.5;
  --leading-loose: 1.625;
  --leading-loose--em: 1.625;
  --leading-looser: 1.75;
  --leading-looser--em: 1.75;
  --leading-loosest: 1.875;
  --leading-loosest--em: 1.875;
  --weight-ultralight: 100;
  --weight-ultralight--em: 100;
  --weight-extralight: 200;
  --weight-extralight--em: 200;
  --weight-light: 300;
  --weight-light--em: 300;
  --weight-regular: 400;
  --weight-regular--em: 400;
  --weight-medium: 500;
  --weight-medium--em: 500;
  --weight-semibold: 600;
  --weight-semibold--em: 600;
  --weight-bold: 700;
  --weight-bold--em: 700;
  --weight-extrabold: 800;
  --weight-extrabold--em: 800;
  --weight-ultrabold: 900;
  --weight-ultrabold--em: 900;
  --timing-slow: 1000ms;
  --timing-slow--em: 1000;
  --timing-slower: 1500ms;
  --timing-slower--em: 1500;
  --timing-slowest: 2000ms;
  --timing-slowest--em: 2000;
  --timing-fast: 500ms;
  --timing-fast--em: 500;
  --timing-faster: 250ms;
  --timing-faster--em: 250;
  --timing-fastest: 100ms;
  --timing-fastest--em: 100;
  --tracking-tightest: -0.08em;
  --tracking-tightest--em: -0.08;
  --tracking-tighter: -0.04em;
  --tracking-tighter--em: -0.04;
  --tracking-tight: -0.02em;
  --tracking-tight--em: -0.02;
  --tracking-normal: 0;
  --tracking-normal--em: 0;
  --tracking-loose: 0.02em;
  --tracking-loose--em: 0.02;
  --tracking-looser: 0.04em;
  --tracking-looser--em: 0.04;
  --tracking-loosest: 0.08em;
  --tracking-loosest--em: 0.08;
  --zindex-back: 1000;
  --zindex-back--em: 1000;
  --zindex-front: 2000;
  --zindex-front--em: 2000;
  --zindex-top: 3000;
  --zindex-top--em: 3000;
  --family-sans: sans-serif;
  --family-serif: serif;
  --family-mono: monospace;
}
