/*! UniformCSS v1.5.4 | MIT License | github.com/ThinkUniform/uniformcss */
.text-success {
  color: var(--color-success, #006820);
}

.text-warning {
  color: var(--color-warning, #884b00);
}

.text-danger {
  color: var(--color-danger, #711100);
}

.text-info {
  color: var(--color-info, #006865);
}

.text-xxs {
  font-size: var(--size-xxs, 10px);
  line-height: var(--leading-loosest, 1.875);
}

.text-xs {
  font-size: var(--size-xs, 12px);
  line-height: var(--leading-loosest, 1.875);
}

.text-sm {
  font-size: var(--size-sm, 14px);
  line-height: var(--leading-looser, 1.75);
}

.text-md {
  font-size: var(--size-md, 16px);
  line-height: var(--leading-looser, 1.75);
}

.text-lg {
  font-size: var(--size-lg, 18px);
  line-height: var(--leading-loose, 1.625);
}

.text-xl {
  font-size: var(--size-xl, 20px);
  line-height: var(--leading-loose, 1.625);
}

.text-xxl {
  font-size: var(--size-xxl, 24px);
  line-height: var(--leading-normal, 1.5);
}

.text-ultralight {
  font-weight: var(--weight-ultralight, 100);
}

.text-extralight {
  font-weight: var(--weight-extralight, 200);
}

.text-light {
  font-weight: var(--weight-light, 300);
}

.text-regular {
  font-weight: var(--weight-regular, 400);
}

.text-medium {
  font-weight: var(--weight-medium, 500);
}

.text-semibold {
  font-weight: var(--weight-semibold, 600);
}

.text-bold {
  font-weight: var(--weight-bold, 700);
}

.text-extrabold {
  font-weight: var(--weight-extrabold, 800);
}

.text-ultrabold {
  font-weight: var(--weight-ultrabold, 900);
}

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-current: currentColor;
  --color-transparent: transparent;
  --color-success: #006820;
  --color-warning: #884b00;
  --color-danger: #711100;
  --color-info: #006865;
  --size-xxs: 10px;
  --size-xxs--em: 0.625;
  --size-xs: 12px;
  --size-xs--em: 0.75;
  --size-sm: 14px;
  --size-sm--em: 0.875;
  --size-md: 16px;
  --size-md--em: 1;
  --size-lg: 18px;
  --size-lg--em: 1.125;
  --size-xl: 20px;
  --size-xl--em: 1.25;
  --size-xxl: 24px;
  --size-xxl--em: 1.5;
  --opacity-0: 0%;
  --opacity-0--em: 0;
  --opacity-10: 10%;
  --opacity-10--em: 0.1;
  --opacity-20: 20%;
  --opacity-20--em: 0.2;
  --opacity-30: 30%;
  --opacity-30--em: 0.3;
  --opacity-40: 40%;
  --opacity-40--em: 0.4;
  --opacity-50: 50%;
  --opacity-50--em: 0.5;
  --opacity-60: 60%;
  --opacity-60--em: 0.6;
  --opacity-70: 70%;
  --opacity-70--em: 0.7;
  --opacity-80: 80%;
  --opacity-80--em: 0.8;
  --opacity-90: 90%;
  --opacity-90--em: 0.9;
  --opacity-100: 100%;
  --opacity-100--em: 1;
  --leading-tightest: 1.125;
  --leading-tightest--em: 1.125;
  --leading-tighter: 1.25;
  --leading-tighter--em: 1.25;
  --leading-tight: 1.375;
  --leading-tight--em: 1.375;
  --leading-normal: 1.5;
  --leading-normal--em: 1.5;
  --leading-loose: 1.625;
  --leading-loose--em: 1.625;
  --leading-looser: 1.75;
  --leading-looser--em: 1.75;
  --leading-loosest: 1.875;
  --leading-loosest--em: 1.875;
  --weight-ultralight: 100;
  --weight-ultralight--em: 100;
  --weight-extralight: 200;
  --weight-extralight--em: 200;
  --weight-light: 300;
  --weight-light--em: 300;
  --weight-regular: 400;
  --weight-regular--em: 400;
  --weight-medium: 500;
  --weight-medium--em: 500;
  --weight-semibold: 600;
  --weight-semibold--em: 600;
  --weight-bold: 700;
  --weight-bold--em: 700;
  --weight-extrabold: 800;
  --weight-extrabold--em: 800;
  --weight-ultrabold: 900;
  --weight-ultrabold--em: 900;
  --timing-slow: 1000ms;
  --timing-slow--em: 1000;
  --timing-slower: 1500ms;
  --timing-slower--em: 1500;
  --timing-slowest: 2000ms;
  --timing-slowest--em: 2000;
  --timing-fast: 500ms;
  --timing-fast--em: 500;
  --timing-faster: 250ms;
  --timing-faster--em: 250;
  --timing-fastest: 100ms;
  --timing-fastest--em: 100;
  --tracking-tightest: -0.08em;
  --tracking-tightest--em: -0.08;
  --tracking-tighter: -0.04em;
  --tracking-tighter--em: -0.04;
  --tracking-tight: -0.02em;
  --tracking-tight--em: -0.02;
  --tracking-normal: 0;
  --tracking-normal--em: 0;
  --tracking-loose: 0.02em;
  --tracking-loose--em: 0.02;
  --tracking-looser: 0.04em;
  --tracking-looser--em: 0.04;
  --tracking-loosest: 0.08em;
  --tracking-loosest--em: 0.08;
  --zindex-back: 1000;
  --zindex-back--em: 1000;
  --zindex-front: 2000;
  --zindex-front--em: 2000;
  --zindex-top: 3000;
  --zindex-top--em: 3000;
  --family-sans: sans-serif;
  --family-serif: serif;
  --family-mono: monospace;
}
