@use 'sass:map';
@use 'sass:string';
@use 'sass:meta';

@use 'tokens' as tokens;
@use './tokens/sizes.scss' as sizes;

@use 'uniform' as * with (
  $config: (
    prefix: a1-,
    excludes: (
      all
    ),
    includes: (
      root,
      font-weight,
      color,
      text-align,
      background-color,
      font-size,
      font-style,
      z-index
    ),
    colors: null,
    screens: null,
    font-families: null,
    font-sizes: null,
    font-weights: null,
    leadings: null,
    trackings: null,
    radiuses: null,
    blurs: null,
    opacities: null,
    shadows: null,
    gradients: null,
    extend: (
      colors: (
        success: tokens.get('$color.success'),
        warning: tokens.get('$color.warning'),
        danger: tokens.get('$color.danger'),
        info: tokens.get('$color.info'),
      ),
      font-sizes: (
        xxs: tokens.get('$size.xxs'),
        xs: tokens.get('$size.xs'),
        sm: tokens.get('$size.sm'),
        md: tokens.get('$size.md'),
        lg: tokens.get('$size.lg'),
        xl: tokens.get('$size.xl'),
        xxl: tokens.get('$size.xxl')
      ),
      font-weights: (
        ultralight: tokens.get('$weight.ultralight'),
        extralight: tokens.get('$weight.extralight'),
        light: tokens.get('$weight.light'),
        regular: tokens.get('$weight.regular'),
        medium: tokens.get('$weight.medium'),
        semibold: tokens.get('$weight.semibold'),
        bold: tokens.get('$weight.bold'),
        extrabold: tokens.get('$weight.extrabold'),
        ultrabold: tokens.get('$weight.ultrabold'),
      ),
      z-indexes: (
        back: tokens.get('$zindex.back')
      )
    ),
    utilities: (
      color: ()
    )
  )
);

:root {
  @include tokens.css-definitions();
}
