@use 'tokens' as tokens;

:root {
  @include tokens.css-definitions();
}

body.inverted {
  @include tokens.css-definitions('system-inverted');
}

@include tokens.scope('component') {
  .btn {
    @include tokens.css-definitions();

    &--primary {
      background-color: tokens.get('button.primary-background');
      color: tokens.get('button.primary-text');
    }

    &--secondary {
      background-color: tokens.get('button.secondary-background');
      color: tokens.get('button.secondary-text');
    }
  }
}
