@use 'tokens' as tokens;

body {
  @include tokens.css-definitions();

  &.invert {
    @include tokens.css-definitions('invert');
  }
}

@include tokens.scope('button-component') {
  .btn {
    @include tokens.css-definitions();

    &--primary {
      background-color: tokens.get('primary-background');
      color: tokens.get('primary-text');
    }

    &--secondary {
      background-color: tokens.get('secondary-background');
      color: tokens.get('secondary-text');
    }
  }
}
