@use 'tokens' as tokens;

body {
  @include tokens.css-definitions();

  &.invert {
    @include tokens.css-definitions('system-dark-mode');
  }

  color: tokens.get('color.foreground');
  background-color: tokens.get('color.background');
}

@media (prefers-color-scheme: dark) {
  body {
    @include tokens.css-definitions('system-dark-mode');

    &.invert {
      @include tokens.css-definitions();
    }
  }
}

@include tokens.scope('component') {
  .btn {
    @include tokens.css-definitions();

    &--primary {
      background-color: tokens.get('button.primary-background');
      color: tokens.get('button.primary-text');
    }

    &--secondary {
      background-color: tokens.get('button.secondary-background');
      color: tokens.get('button.secondary-text');
    }
  }
}
