@use 'sass:meta';

@use './global-colors.scss' as global-colors;
@use './button-component.scss' as button-component;

@forward 'oikaze' with (
  $default: 'system',
  $sets: (
    primitive: (
      color: meta.module-variables(global-colors),
    ),
    system: (
      color: (
        primary: '{primitive:$color.red-800}',
        secondary: '{primitive:$color.blue-600}',
        foreground: '{primitive:$color.black}',
      ),
    ),
    system-inverted: (
      color: (
        primary: '{primitive:$color.blue-800}',
        secondary: '{primitive:$color.red-600}',
        foreground: '{primitive:$color.white}',
      ),
    ),
    component: (
      button: meta.module-variables(button-component),
    ),
  )
);
