@use 'sass:meta';

@use './global-colors.scss' as global-colors;
@use './button-component.scss' as button-component;

@forward 'oikaze' with (
  $default: 'system',
  $config: (
    enable-rgb: false // Exclude RGB values from the output for brevity,,
  ),
  $sets: (
    primitive: (
      color: meta.module-variables(global-colors),
    ),
    system: (
      color: (
        primary: '{primitive:$color.blue-60}',
        secondary: '{primitive:$color.red-50}',
        foreground: '{primitive:$color.black}',
        background: '{primitive:$color.white}',
      ),
    ),
    system-dark-mode: (
      color: (
        primary: '{primitive:$color.blue-50}',
        secondary: '{primitive:$color.red-60}',
        foreground: '{primitive:$color.white}',
        background: '{primitive:$color.black}',
      ),
    ),
    component: (
      button: meta.module-variables(button-component),
    ),
  )
);
