$size: (
  // 1: 1px,
  // 2: 2px,
  // 4: 4px,
  // 6: 6px,
  // 8: 8px,
  // 10: 10px,
  // 12: 12px,
  // 14: 14px,
  // 16: 16px,
  // 18: 18px,
  // 20: 20px,
  // 24: 24px,
  // 28: 28px,
  // 32: 32px,
  // 36: 36px,
  // 40: 40px,
  // 48: 48px,
  // 56: 56px,
  // 64: 64px,
  // 72: 72px,
  // 80: 80px,
  // 96: 96px,
  // 112: 112px,
  // 128: 128px,
  // 144: 144px,
  // 160: 160px,
  // 192: 192px,
  // 224: 224px,
  // 256: 256px,
  // 288: 288px,
  // 320: 320px,
  // 384: 384px,
  // 448: 448px,
  // 512: 512px,
  // 576: 576px,
  // 640: 640px,
  // 768: 768px,
  // 896: 896px,
  // 1024: 1024px,
  // 1152: 1152px,
  // 1280: 1280px,
  // 1536: 1536px,

  // 'n1': -1px,
  // 'n2': -2px,
  // 'n4': -4px,
  // 'n6': -6px,
  // 'n8': -8px,
  // 'n10': -10px,
  // 'n12': -12px,
  // 'n14': -14px,
  // 'n16': -16px,
  // 'n18': -18px,
  // 'n20': -20px,
  // 'n24': -24px,
  // 'n28': -28px,
  // 'n32': -32px,
  // 'n36': -36px,
  // 'n40': -40px,
  // 'n48': -48px,
  // 'n56': -56px,
  // 'n64': -64px,
  // 'n72': -72px,
  // 'n80': -80px,
  // 'n96': -96px,
  // 'n112': -112px,
  // 'n128': -128px,
  // 'n144': -144px,
  // 'n160': -160px,
  // 'n192': -192px,
  // 'n224': -224px,
  // 'n256': -256px,
  // 'n288': -288px,
  // 'n320': -320px,
  // 'n384': -384px,
  // 'n448': -448px,
  // 'n512': -512px,
  // 'n576': -576px,
  // 'n640': -640px,
  // 'n768': -768px,
  // 'n896': -896px,
  // 'n1024': -1024px,
  // 'n1152': -1152px,
  // 'n1280': -1280px,
  // 'n1536': -1536px,

  xxs: 10px,
  xs: 12px,
  sm: 14px,
  md: 16px,
  lg: 18px,
  xl: 20px,
  xxl: 24px,
)