$CONFIG: (
  enable-define: false
);

$sm: (
  font-size: '{size.7}',
  line-height: '{leading.loose}',
);

$md: (
  font-size: '{size.9}',
  line-height: '{leading.looser}',
);

$lg: (
  font-size: '{size.10}',
  line-height: '{leading.loose}',
);