$background: oklch(0.2077 0.0398 265.7549);
$foreground: oklch(0.8717 0.0093 258.3382);

$card: oklch(0.2795 0.0368 260.031);
$card-foreground: oklch(0.8717 0.0093 258.3382);

$popover: oklch(0.2795 0.0368 260.031);
$popover-foreground: oklch(0.8717 0.0093 258.3382);

$primary: oklch(0.7729 0.1535 163.2231);
$primary-foreground: oklch(0.2077 0.0398 265.7549);
$secondary: oklch(0.3351 0.0331 260.912);
$secondary-foreground: oklch(0.7118 0.0129 286.0665);
$muted: oklch(0.2463 0.0275 259.9628);
$muted-foreground: oklch(0.551 0.0234 264.3637);
$accent: oklch(0.3729 0.0306 259.7328);
$accent-foreground: oklch(0.7118 0.0129 286.0665);
$destructive: oklch(0.6368 0.2078 25.3313);
$destructive-foreground: oklch(0.2077 0.0398 265.7549);

$border: oklch(0.4461 0.0263 256.8018);
$input: oklch(0.4461 0.0263 256.8018);
$ring: oklch(0.7729 0.1535 163.2231);

$chart-1: oklch(0.7729 0.1535 163.2231);
$chart-2: oklch(0.7845 0.1325 181.912);
$chart-3: oklch(0.7227 0.192 149.5793);
$chart-4: oklch(0.6959 0.1491 162.4796);
$chart-5: oklch(0.596 0.1274 163.2254);
$sidebar: oklch(0.2795 0.0368 260.031);

$sidebar-foreground: oklch(0.8717 0.0093 258.3382);
$sidebar-primary: oklch(0.7729 0.1535 163.2231);
$sidebar-primary-foreground: oklch(0.2077 0.0398 265.7549);
$sidebar-accent: oklch(0.3729 0.0306 259.7328);
$sidebar-accent-foreground: oklch(0.7118 0.0129 286.0665);
$sidebar-border: oklch(0.4461 0.0263 256.8018);
$sidebar-ring: oklch(0.7729 0.1535 163.2231);
