@use 'sass:meta';

@use '../default/fonts.scss' as fonts;
@use '../default/weights.scss' as weights;
@use '../default/text-sizes.scss' as text-sizes;
@use '../default/leadings.scss' as leadings;
@use '../default/shadows.scss' as shadows;
@use '../default/spacing.scss' as spacing;
@use '../default/timings.scss' as timing;
@use '../default/durations.scss' as durations;
@use '../default/media.scss' as media;

@use './light.scss' as colors-light;
@use './dark.scss' as colors-dark;

$default: (
  color: meta.module-variables(colors-light),
  font: meta.module-variables(fonts),
  weight: meta.module-variables(weights),
  text-size: meta.module-variables(text-sizes),
  leading: meta.module-variables(leadings),
  shadow: meta.module-variables(shadows),
  duration: meta.module-variables(durations),
  spacing: meta.module-variables(spacing),
  timing: meta.module-variables(timing),
  media: meta.module-variables(media),
);

$light: (
  color: meta.module-variables(colors-light),
);

$dark: (
  color: meta.module-variables(colors-dark),
);
