$background: oklch(0.9751 0.0127 244.2507);
$foreground: oklch(0.3729 0.0306 259.7328);

$card: oklch(1 0 0);
$card-foreground: oklch(0.3729 0.0306 259.7328);

$popover: oklch(1 0 0);
$popover-foreground: oklch(0.3729 0.0306 259.7328);

$primary: oklch(0.7227 0.192 149.5793);
$primary-foreground: oklch(1 0 0);
$secondary: oklch(0.9514 0.025 236.8242);
$secondary-foreground: oklch(0.4461 0.0263 256.8018);
$muted: oklch(0.967 0.0029 264.5419);
$muted-foreground: oklch(0.551 0.0234 264.3637);
$accent: oklch(0.9505 0.0507 163.0508);
$accent-foreground: oklch(0.3729 0.0306 259.7328);
$destructive: oklch(0.6368 0.2078 25.3313);
$destructive-foreground: oklch(1 0 0);

$border: oklch(0.9276 0.0058 264.5313);
$input: oklch(0.9276 0.0058 264.5313);
$ring: oklch(0.7227 0.192 149.5793);

$chart-1: oklch(0.7227 0.192 149.5793);
$chart-2: oklch(0.6959 0.1491 162.4796);
$chart-3: oklch(0.596 0.1274 163.2254);
$chart-4: oklch(0.5081 0.1049 165.6121);
$chart-5: oklch(0.4318 0.0865 166.9128);
$sidebar: oklch(0.9514 0.025 236.8242);

$sidebar-foreground: oklch(0.3729 0.0306 259.7328);
$sidebar-primary: oklch(0.7227 0.192 149.5793);
$sidebar-primary-foreground: oklch(1 0 0);
$sidebar-accent: oklch(0.9505 0.0507 163.0508);
$sidebar-accent-foreground: oklch(0.3729 0.0306 259.7328);
$sidebar-border: oklch(0.9276 0.0058 264.5313);
$sidebar-ring: oklch(0.7227 0.192 149.5793);
