/* ease curves*/
@font-face {
  font-family: "Quicksand-fallback";
  size-adjust: 104.34%;
  ascent-override: 97%;
  src: local("Arial");
}
:root {
  font-size: 100%;
  font-family: Helvetica, Arial, sans-serif;
  --color-foreground: #333333;
  --color-foreground--rgb: "51,51,51";
  --color-background: #ffffff;
  --color-background--rgb: "255,255,255";
  --color-primary: #4d6fff;
  --color-primary--rgb: "77,111,255";
  --color-secondary: #ff7f50;
  --color-secondary--rgb: "255,127,80";
  --color-accent: #6bb8cc;
  --color-accent--rgb: "107,184,204";
  --color-emphasis: #0f172a;
  --color-emphasis--rgb: "15,23,42";
  --color-link: #14847e;
  --color-link--rgb: "20,132,126";
  --color-cool-gray: #222836;
  --color-cool-gray--rgb: "34,40,54";
  --color-light-gray: #e3e3e3;
  --color-light-gray--rgb: "227,227,227";
  --color-scrollbar-track: #dedede;
  --color-scrollbar-track--rgb: "222,222,222";
  --color-scrollbar-track-border: #cacaca;
  --color-scrollbar-track-border--rgb: "202,202,202";
  --color-scrollbar-thumb: #888;
  --color-scrollbar-thumb--rgb: "136,136,136";
  --color-scrollbar-thumb--hover: #555;
  --color-scrollbar-thumb--hover--rgb: "85,85,85";
  --color-card-background: black;
  --color-card-background--rgb: "0,0,0";
  --color-shadow: #1c1c1c;
  --color-shadow--rgb: "28,28,28";
  --font-md: 16px;
  --font-md--em: 1;
  --font-lg: 32px;
  --font-lg--em: 2;
  --font-xlg: 64px;
  --font-xlg--em: 4;
  --font-weight-light: 200;
  --font-weight-light--em: 200;
  --font-weight-normal: 400;
  --font-weight-normal--em: 400;
  --font-weight-bold: 700;
  --font-weight-bold--em: 700;
  --font-height-short: 1;
  --font-height-short--em: 1;
  --font-height-normal: 1.5;
  --font-height-normal--em: 1.5;
  --font-height-tall: 2;
  --font-height-tall--em: 2;
  --icon-moon: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAAdbAAAHWwEVi0IEAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAD9QTFRF////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAxQXeHgAAABR0Uk5TAAEDDQ8aLjA2OVpls7q7v8Xm7vKTESwnAAAAlElEQVQoz4WSSQ7FIAxDTaHMUAbf/6x/0+EjNapXKE9g4gS4tbW24U2WtK/AkW6txBoAQI+hASDUeILK6QHAGADwk/UEYbI89wtnuM6+RKiUe89JIRb/77MfJEke++qvzjp5qAUk3kpXv9ZpID8gA9rZDY0cBv0BHWaQTQbiU6L5x3eFBqVIxBDF2MVBiaP9WoZ1fX4iJw6dixaLMgAAAABJRU5ErkJggg==");
  --icon-sun: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAsQAAALEBxi1JjQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEpSURBVEiJrdVNKwVRHMfxD7HhZkN52Cu5SJbWslJeAAtWFhbKq7CSjRcgO3kNwjsgNrLARjcLKaU8NBZzh9t0r5k5zr9+TZ3OfL/nqXMorgn0luhXuRZxjgQrMcE92GmCs9Rjwfv9jjrLSyx4F45z8ARXsQRbbeAJLmPAa2h0EDRiCLY7wLOMhoK7m9/lgn5LoQLow4e/Z3AhPQRBNV4Az7IeKpgvKXjGZIhguqQgwX2IZKiCIJvJmop7cltRkm38Bsba8GawquUW3gsQtOYJ19Jr5bWl/Wc5p/D1T0k+p/lpHUYWLOQFI3iIBN/Pw7Oay61hSM4UPLGzuAuEH0kfrcIaxgE+S4Ib2BRwX9Wxi5s20HecSB+qWidAFeOg9CAMNEf8iLein74BA4PvMgalmPkAAAAASUVORK5CYII=");
  --icon-logo: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAIGNIUk0AAHomAACAhAAA+gAAAIDoAAB1MAAA6mAAADqYAAAXcJy6UTwAAAACYktHRAD/h4/MvwAAAAd0SU1FB+cFHRE0IUehq0YAAAFLSURBVDjLzdK7S5txFMbxj68WrxWHEh2ytVIH94bq5GVRRKcOHTpZhP4Tmo5dRRDazT+gYPCGRXRVsF0UFMTBektACL2YXtLXQU1S0OQd84y/cw7f5znnR5Uq0BK1tRbETIv56lIYbSzu1C+fzUioi0Jo9dqaPS+89BhZPyoRzkwiYcYXWVve6CzHijuTvCF2mLAu48CshKbyhFu16fde2rEFE2J3ZRjXJCuQ8xs5h5asOvLcKwPq/ZXxr5RwJPTTsWXv9GksVB4Zt+HSuQ+eCQhKaKGcvByFuDUCaXkPfBeqLyWcWDTsiebCW7NuSbvSdkzpujF/T+iHRs3LuJAypl1NsVTc9a25p4YM6nVuzoJN3/5faHEg1KDHsBHttr2VslfucCdWfHQhY96oNhUUdypvX1J3Sew7dW3pj5RtnxxE/d61GqI1VqWuAFbiXF1axO9LAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIzLTA1LTI5VDE3OjUyOjIxKzAwOjAwc6VPiQAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMy0wNS0yOVQxNzo1MjoyMSswMDowMAL49zUAAAAodEVYdGRhdGU6dGltZXN0YW1wADIwMjMtMDUtMjlUMTc6NTI6MzMrMDA6MDAO2MddAAAAAElFTkSuQmCC");
  --motion-instant: 0;
  --motion-instant--em: 0;
  --motion-x-fast: 186;
  --motion-x-fast--em: 186;
  --motion-fast: 232;
  --motion-fast--em: 232;
  --motion-normal: 290;
  --motion-normal--em: 290;
  --motion-slow: 363;
  --motion-slow--em: 363;
  --motion-x-slow: 453;
  --motion-x-slow--em: 453;
  --motion-linear: cubic-bezier(0, 0, 1, 1);
  --motion-ease-in-out: cubic-bezier(0.42, 0, 0.58, 1);
  --toogle-moon-opacity: 1;
  --toogle-moon-opacity--em: 1;
  --toogle-sun-opacity: 0;
  --toogle-sun-opacity--em: 0;
  --toogle-moon-position: -20px;
  --toogle-moon-position--em: -1.25;
  --toogle-sun-position: 40px;
  --toogle-sun-position--em: 2.5;
}

body {
  overflow-y: overlay;
  margin: 0;
  padding: 0;
  color: var(--color-foreground, #333333);
  background-color: var(--color-background, #ffffff);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
@media only screen and (max-width: 667px), only screen and (min-width: 668px) and (max-width: 1024px) {
  body header,
  body footer,
  body main {
    width: 90vw;
  }
}
body.dark {
  --color-foreground: #f5f5f5;
  --color-foreground--rgb: "245,245,245";
  --color-background: #333333;
  --color-background--rgb: "51,51,51";
  --color-primary: #87ceeb;
  --color-primary--rgb: "135,206,235";
  --color-secondary: #ffa07a;
  --color-secondary--rgb: "255,160,122";
  --color-accent: #9acd32;
  --color-accent--rgb: "154,205,50";
  --color-emphasis: #fff;
  --color-emphasis--rgb: "255,255,255";
  --color-scrollbar-track: #555555;
  --color-scrollbar-track--rgb: "85,85,85";
  --color-scrollbar-track-border: #474747;
  --color-scrollbar-track-border--rgb: "71,71,71";
  --color-scrollbar-thumb: #2b2b2b;
  --color-scrollbar-thumb--rgb: "43,43,43";
  --color-scrollbar-thumb--hover: #191919;
  --color-scrollbar-thumb--hover--rgb: "25,25,25";
  --color-shadow: #1c1c1c;
  --color-shadow--rgb: "28,28,28";
  --toogle-moon-opacity: 0;
  --toogle-moon-opacity--em: 0;
  --toogle-sun-opacity: 1;
  --toogle-sun-opacity--em: 1;
  --toogle-moon-position: 40px;
  --toogle-moon-position--em: 2.5;
  --toogle-sun-position: -20px;
  --toogle-sun-position--em: -1.25;
}
body.loaded {
  transition-timing-function: var(--motion-ease-in-out, cubic-bezier(0.42, 0, 0.58, 1));
  transition-duration: var(--motion-normal, 290);
  transition-delay: 0;
  transition-property: background-color, color;
  color: var(--color-foreground, #333333);
  background-color: var(--color-background, #ffffff);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--color-scrollbar-thumb, #888);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-scrollbar-thumb--hover, #555);
}
::-webkit-scrollbar-track {
  border-radius: 5px;
  background: var(--color-scrollbar-track, #dedede);
}

body {
  scrollbar-color: var(--color-scrollbar-thumb, #888) var(--color-scrollbar-track, #dedede);
  scrollbar-width: 10px;
}

header,
main,
footer {
  width: 1024px;
  margin-right: auto;
  margin-left: auto;
  min-width: 400px;
}

.banner,
.quote,
.tagline {
  color: var(--color-emphasis, #0f172a);
  text-align: center;
  font-weight: var(--font-weight-bold, 700);
  width: 70%;
  margin: calc(var(--font-lg--em, 2) * 1rem) auto;
}

.banner {
  font-size: calc(var(--font-xlg--em, 4) * 1rem);
  font-family: Quicksand, Quicksand-fallback, Arial, sans-serif;
}

.quote {
  color: var(--color-primary, #4d6fff);
  font-family: Quicksand, Quicksand-fallback, Arial, sans-serif;
  font-display: swap;
}

.quote,
.tagline {
  font-size: calc(var(--font-lg--em, 2) * 1rem);
  line-height: var(--font-height-normal, 1.5);
}

/* ease curves*/
pre[class*=language-] {
  box-shadow: 0 10px 15px -3px var(--color-shadow), 0 4px 6px -4px var(--color-shadow);
  margin: 1.5rem !important;
}
@media only screen and (max-width: 667px) {
  pre[class*=language-] {
    width: 100vw;
    margin: 1.5rem -10vw !important;
    padding: 1em 10vw !important;
  }
}

.page-cheatsheet h3 {
  clear: both;
  width: 100%;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 0;
}

.example__pair {
  clear: both;
}
@media only screen and (min-width: 1024px) {
  .example__pair pre[class*=language-] {
    width: 42%;
    float: left;
  }
  .example__pair pre[class*=language-]:last-child {
    width: 42%;
    float: right;
  }
}
.example__pair::after {
  content: "";
  clear: both;
  display: table;
}

.example-card {
  clear: both;
  width: 100%;
}
.example-card blockquote {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: var(--shadow-lg, 0 10px 15px -3px var(--color-shadow), 0 4px 6px -4px var(--color-shadow));
  border-radius: 5px;
  border: 1px solid rgba(var(--color-shadow--rgb, 28,28,28), 0.2);
  padding: 10px;
}
.example-card blockquote > p:first-child {
  color: var(--color-emphasis, #0f172a);
  text-align: center;
  width: 100%;
  padding: 0 0.75rem;
}
@media only screen and (max-width: 667px) {
  .example-card blockquote {
    width: 100vw;
    margin: 1.5rem -10vw !important;
    padding: 1em 10vw !important;
  }
}
@media only screen and (min-width: 1024px) {
  .example-card blockquote {
    padding: 0;
    position: relative;
    float: left;
    display: block;
    width: 60%;
    margin: 0;
    margin-left: -80%;
    left: 80%;
    z-index: 1;
  }
  .example-card blockquote > p:not(:first-child) {
    width: 55%;
  }
}
.example-card pre[class*=language-] {
  position: relative;
  margin: 3rem 0 20px 0 !important;
  float: right;
  width: 60%;
  z-index: 10;
}
.example-card::after {
  content: "";
  clear: both;
  display: table;
}

/* ease curves*/
nav {
  padding: 0.75rem;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 1px;
}
nav .nav-list {
  display: flex;
  align-items: center;
}
nav .nav-list a {
  margin-right: 2rem;
  text-decoration: none;
  color: var(--color-primary, #4d6fff);
  font-weight: 700;
  font-size: medium;
  font-family: Quicksand, Quicksand-fallback, Arial, sans-serif;
}
nav .nav-list a:hover {
  text-decoration: underline;
}
nav .logo {
  color: var(--color-primary, #4d6fff);
  margin: 0;
  font-weight: bold;
  font-size: medium;
  font-family: Quicksand, Quicksand-fallback, Arial, sans-serif;
  text-decoration: none;
}
nav .logo:before {
  display: inline-block;
  content: "&nbsp;";
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
  background-color: var(--color-primary, #4d6fff);
  top: -1px;
  position: relative;
  mask-image: var(--icon-logo, url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAIGNIUk0AAHomAACAhAAA+gAAAIDoAAB1MAAA6mAAADqYAAAXcJy6UTwAAAACYktHRAD/h4/MvwAAAAd0SU1FB+cFHRE0IUehq0YAAAFLSURBVDjLzdK7S5txFMbxj68WrxWHEh2ytVIH94bq5GVRRKcOHTpZhP4Tmo5dRRDazT+gYPCGRXRVsF0UFMTBektACL2YXtLXQU1S0OQd84y/cw7f5znnR5Uq0BK1tRbETIv56lIYbSzu1C+fzUioi0Jo9dqaPS+89BhZPyoRzkwiYcYXWVve6CzHijuTvCF2mLAu48CshKbyhFu16fde2rEFE2J3ZRjXJCuQ8xs5h5asOvLcKwPq/ZXxr5RwJPTTsWXv9GksVB4Zt+HSuQ+eCQhKaKGcvByFuDUCaXkPfBeqLyWcWDTsiebCW7NuSbvSdkzpujF/T+iHRs3LuJAypl1NsVTc9a25p4YM6nVuzoJN3/5faHEg1KDHsBHttr2VslfucCdWfHQhY96oNhUUdypvX1J3Sew7dW3pj5RtnxxE/d61GqI1VqWuAFbiXF1axO9LAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIzLTA1LTI5VDE3OjUyOjIxKzAwOjAwc6VPiQAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMy0wNS0yOVQxNzo1MjoyMSswMDowMAL49zUAAAAodEVYdGRhdGU6dGltZXN0YW1wADIwMjMtMDUtMjlUMTc6NTI6MzMrMDA6MDAO2MddAAAAAElFTkSuQmCC"));
  -webkit-mask-image: var(--icon-logo, url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAIGNIUk0AAHomAACAhAAA+gAAAIDoAAB1MAAA6mAAADqYAAAXcJy6UTwAAAACYktHRAD/h4/MvwAAAAd0SU1FB+cFHRE0IUehq0YAAAFLSURBVDjLzdK7S5txFMbxj68WrxWHEh2ytVIH94bq5GVRRKcOHTpZhP4Tmo5dRRDazT+gYPCGRXRVsF0UFMTBektACL2YXtLXQU1S0OQd84y/cw7f5znnR5Uq0BK1tRbETIv56lIYbSzu1C+fzUioi0Jo9dqaPS+89BhZPyoRzkwiYcYXWVve6CzHijuTvCF2mLAu48CshKbyhFu16fde2rEFE2J3ZRjXJCuQ8xs5h5asOvLcKwPq/ZXxr5RwJPTTsWXv9GksVB4Zt+HSuQ+eCQhKaKGcvByFuDUCaXkPfBeqLyWcWDTsiebCW7NuSbvSdkzpujF/T+iHRs3LuJAypl1NsVTc9a25p4YM6nVuzoJN3/5faHEg1KDHsBHttr2VslfucCdWfHQhY96oNhUUdypvX1J3Sew7dW3pj5RtnxxE/d61GqI1VqWuAFbiXF1axO9LAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIzLTA1LTI5VDE3OjUyOjIxKzAwOjAwc6VPiQAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMy0wNS0yOVQxNzo1MjoyMSswMDowMAL49zUAAAAodEVYdGRhdGU6dGltZXN0YW1wADIwMjMtMDUtMjlUMTc6NTI6MzMrMDA6MDAO2MddAAAAAElFTkSuQmCC"));
}
nav .night-mode-btn {
  overflow: hidden;
  height: 24px;
  width: 24px;
}
nav .night-mode-btn__toggle {
  visibility: hidden;
}
nav .night-mode-btn__label {
  position: absolute;
  height: 24px;
  width: 24px;
  display: block;
  cursor: pointer;
  border: none;
  transition-property: opacity, transform;
  transition: var(--toogle-transition, 0.3s ease-in-out);
}
nav .night-mode-btn__label--sun {
  background-color: #6bb8cc;
  mask-image: var(--icon-sun, url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAsQAAALEBxi1JjQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEpSURBVEiJrdVNKwVRHMfxD7HhZkN52Cu5SJbWslJeAAtWFhbKq7CSjRcgO3kNwjsgNrLARjcLKaU8NBZzh9t0r5k5zr9+TZ3OfL/nqXMorgn0luhXuRZxjgQrMcE92GmCs9Rjwfv9jjrLSyx4F45z8ARXsQRbbeAJLmPAa2h0EDRiCLY7wLOMhoK7m9/lgn5LoQLow4e/Z3AhPQRBNV4Az7IeKpgvKXjGZIhguqQgwX2IZKiCIJvJmop7cltRkm38Bsba8GawquUW3gsQtOYJ19Jr5bWl/Wc5p/D1T0k+p/lpHUYWLOQFI3iIBN/Pw7Oay61hSM4UPLGzuAuEH0kfrcIaxgE+S4Ib2BRwX9Wxi5s20HecSB+qWidAFeOg9CAMNEf8iLein74BA4PvMgalmPkAAAAASUVORK5CYII="));
  -webkit-mask-image: var(--icon-sun, url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAsQAAALEBxi1JjQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEpSURBVEiJrdVNKwVRHMfxD7HhZkN52Cu5SJbWslJeAAtWFhbKq7CSjRcgO3kNwjsgNrLARjcLKaU8NBZzh9t0r5k5zr9+TZ3OfL/nqXMorgn0luhXuRZxjgQrMcE92GmCs9Rjwfv9jjrLSyx4F45z8ARXsQRbbeAJLmPAa2h0EDRiCLY7wLOMhoK7m9/lgn5LoQLow4e/Z3AhPQRBNV4Az7IeKpgvKXjGZIhguqQgwX2IZKiCIJvJmop7cltRkm38Bsba8GawquUW3gsQtOYJ19Jr5bWl/Wc5p/D1T0k+p/lpHUYWLOQFI3iIBN/Pw7Oay61hSM4UPLGzuAuEH0kfrcIaxgE+S4Ib2BRwX9Wxi5s20HecSB+qWidAFeOg9CAMNEf8iLein74BA4PvMgalmPkAAAAASUVORK5CYII="));
  opacity: var(--toogle-sun-opacity, 0);
  transform: translate(0, var(--toogle-sun-position, 40px));
}
nav .night-mode-btn__label--moon {
  background-color: #ff7f50;
  mask-image: var(--icon-moon, url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAAdbAAAHWwEVi0IEAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAD9QTFRF////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAxQXeHgAAABR0Uk5TAAEDDQ8aLjA2OVpls7q7v8Xm7vKTESwnAAAAlElEQVQoz4WSSQ7FIAxDTaHMUAbf/6x/0+EjNapXKE9g4gS4tbW24U2WtK/AkW6txBoAQI+hASDUeILK6QHAGADwk/UEYbI89wtnuM6+RKiUe89JIRb/77MfJEke++qvzjp5qAUk3kpXv9ZpID8gA9rZDY0cBv0BHWaQTQbiU6L5x3eFBqVIxBDF2MVBiaP9WoZ1fX4iJw6dixaLMgAAAABJRU5ErkJggg=="));
  -webkit-mask-image: var(--icon-moon, url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAAdbAAAHWwEVi0IEAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAD9QTFRF////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAxQXeHgAAABR0Uk5TAAEDDQ8aLjA2OVpls7q7v8Xm7vKTESwnAAAAlElEQVQoz4WSSQ7FIAxDTaHMUAbf/6x/0+EjNapXKE9g4gS4tbW24U2WtK/AkW6txBoAQI+hASDUeILK6QHAGADwk/UEYbI89wtnuM6+RKiUe89JIRb/77MfJEke++qvzjp5qAUk3kpXv9ZpID8gA9rZDY0cBv0BHWaQTQbiU6L5x3eFBqVIxBDF2MVBiaP9WoZ1fX4iJw6dixaLMgAAAABJRU5ErkJggg=="));
  opacity: var(--toogle-moon-opacity, 1);
  transform: translate(0, var(--toogle-moon-position, -20px));
}
nav #toggleMode {
  visibility: hidden;
}

/* ease curves*/
main {
  margin-left: auto;
  margin-right: auto;
}
main a {
  color: var(--color-link, #14847e);
  text-decoration: none;
}
main a:hover {
  text-decoration: underline;
}
main p {
  padding: 0.75rem;
  line-height: 1.5rem;
}

/* ease curves*/
footer {
  padding: 0.75rem;
  justify-content: space-between;
  margin: 2.5rem auto;
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
}
footer a {
  margin: 0;
  color: var(--color-foreground, #333333);
  display: inline-block;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
