$CONFIG: (
  base: 16px // required to use rem/em,,,,,,,,,,,,,,,,,,,,,,
);

// $base: 16px; // required to use rem/em

// Must be in px

$none: 0px;
$xx-small: 2px;
$x-small: 4px;
$small: 8px;
$regular: 16px;
$large: 32px;
$x-large: 64px;
$xx-large: 128px;
