@use 'sass:meta';

$altTheme: (
  color: (
    primary: #ff0000,
  ),
  size: (
    root: 14px,
    small: 7px,
    regular: 14px,
  ),
);

@use 'tokens' as tokens;

:root {
  @include tokens.spread-variables();
}

body.alt {
  @include tokens.spread-variables($altTheme);
}

.test {
  color: map-get($altTheme, 'color', 'primary'); // `#ff0000` (not safe)

  color: tokens.get('$color.primary', $altTheme); // #ff0000
  color: tokens.get('color.primary', $altTheme); // var(--color-primary, #93b733)

  color: tokens.with-opacity(
    'color.primary',
    0.2,
    $altTheme
  ); // rgba(var(--color-primary--rgb, 147,183,51), 0.2)
  color: tokens.with-opacity('$color.primary', 0.2, $altTheme); // rgba(147, 183, 51, 0.2)

  font-size: tokens.rem(
    'size.small',
    $altTheme
  ); // calc(var(--size-small, 8px) / var(--size-base, 16px) * 1rem)
  font-size: tokens.rem('$size.small', $altTheme); // 0.5rem
}
