@use 'sass:meta';

@use './tokens/colors.scss' as color;
@use './tokens/sizes.scss' as size;

$default: (
  ok--color: meta.module-variables(color),
  ok--size: meta.module-variables(size),
);

@use '../' as tokens with (
  $default: $default
);

:root {
  @include tokens.spread-variables();
}

.test {
  color: map-get(tokens.$default, 'ok--color', 'primary'); // `#93b733` (not safe)

  color: color.$primary; // #93b733
  color: tokens.get('$ok--color.primary'); // #93b733
  color: tokens.get('ok--color.primary'); // var(--color-primary, #93b733)

  color: rgba(color.$primary, 0.2); // rgba(147, 183, 51, 0.2)
  color: tokens.with-opacity(
    'ok--color.primary',
    0.2
  ); // rgba(var(--color-primary--rgb, 147,183,51), 0.2)
  color: tokens.with-opacity('$ok--color.primary', 0.2); // rgba(147, 183, 51, 0.2)

  font-size: size.$regular; // 16px

  font-size: tokens.rem(
    'ok--size.small'
  ); // calc(var(--size-small, 8px) / var(--size-base, 16px) * 1rem)
  font-size: tokens.rem('$ok--size.small'); // 0.5rem
}
