.color-primary-200 {
  color: #aed051;
}

.color-primary-300 {
  color: #c3dd7b;
}

.color-primary-400 {
  color: #d7e9a6;
}

.color-primary-600 {
  color: #75912b;
}

.color-primary-500 {
  color: #93b733;
}

.color-primary-700 {
  color: #576b21;
}

.color-primary-800 {
  color: #3a4717;
}

.color-neutral-600 {
  color: #ffffff;
}

.color-neutral-500 {
  color: #ffffff;
}

.color-neutral-400 {
  color: #ffffff;
}

.color-neutral-300 {
  color: #fefefe;
}

.color-neutral-200 {
  color: #fefefe;
}

.color-neutral-100 {
  color: #fefefe;
}

.color-neutral-800 {
  color: #7f7f7f;
}

.color-neutral-900 {
  color: #000000;
}

.color-primary {
  color: #93b733;
}

.color-neutral {
  color: #fefefe;
}

.p-none {
  padding: 0px;
}

.p-xx-small {
  padding: 2px;
}

.p-x-small {
  padding: 4px;
}

.p-small {
  padding: 8px;
}

.p-regular {
  padding: 16px;
}

.p-large {
  padding: 32px;
}

.p-x-large {
  padding: 64px;
}

.p-xx-large {
  padding: 128px;
}
