@use 'sass:map';
@use 'sass:string';
@use 'sass:color';
@use 'sass:math';

@use './helpers' as *;

$theme: () !default;

// Private
@function -get-value($map: $theme, $type, $key, $keys...) {
  $key: '' + $key;
  @if (string.index($key, '$') == 1) {
    $key: string.slice($key, 2);
  }
  @if not map.has-key($map, $type, $key, $keys...) {
    @error "'#{$type}-#{$key}' is not defined in this theme.";
  }
  @return map.get($map, $type, $key, $keys...);
}

// Gets a CSS variable key
@function -get-key($type, $key) {
  @return --#{$type}-#{$key};
}

@function -get-rgba($type, $key, $opacity: 1, $map: $theme) {
  $key: '' + $key;
  $value: -get-value($map, $type, $key);
  @if (string.index($key, '$') == 1) {
    @return rgba($value, $opacity);
  }
  $_var: -get-key($type, $key);
  @return rgba(var(#{$_var}--rgb, #{hex2rgb($value)}), $opacity);
}

@function -get-rem($type, $key, $map: $theme) {
  $root: -get-value($map, $type, 'root');
  $value: -get-value($map, $type, $key);
  @if (string.index($key, '$') == 1) {
    @return px2rem($value, $root);
  }
  $_var: -get-key($type, $key);
  @return calc(var(#{$_var}, $value) / var(--size-base, $root) * 1rem);
}

// @function -get-em($type, $key, $map: $theme) {
//   $base: -get-value($map, $type, 'base');
//   $value: -get-value($map, $type, $key);
//   @if (string.index($key, '$') == 1) {
//     @return px2em($value, $root);
//   }
//   $_var: -get-key($type, $key);
//   @return calc(var(#{$_var}, $value) / var(--size-base, $base) * 1em);
// }

// Public

// This function returns the value for a given key.
// For example:
//   get('color', primary)    // returns var(--color-primary, #facd33)
//   get('color', '$primary') // returns #facd33
@function get($type, $key, $map: $theme) {
  $value: -get-value($map, $type, $key);
  @if (string.index($key, '$') == 1) {
    @return $value;
  }
  $_var: -get-key($type, $key);
  @return var(#{$_var}, $value);
}

// This mixin sets the CSS variables for a given theme.
@mixin spread-variables($map: $theme) {
  @each $type, $set in $map {
    @each $key, $value in $set {
      $_var: -get-key($type, $key);
      #{$_var}: $value;
      @if (type-of($value) == 'color') {
        #{$_var}--rgb: hex2rgb($value);
      }
    }
  }
}

// Convenience functions

// This function returns the color value for a given key.
// For example:
//   color(primary)    // returns var(--color-primary, #facd33)
//   color('$primary') // returns #facd33
@function color($key, $map: $theme) {
  @return get('color', $key, $map);
}

// This function returns the color value for a given key.
// For example:
//   alpha(primary, 0.2)    // returns rgba(var(--color-primary--rgb, 250,205,51), 0.2)
//   alpha('$primary', 0.2) // returns rgba(250, 205, 51, 0.2)
@function alpha($key, $alpha: 1, $map: $theme) {
  @return -get-rgba('color', $key, $alpha, $map);
}

// This function returns the size value for a given key.
// For example:
//   size(footer)    // returns var(--size-footer, 46px)
//   size('$footer') // returns 46px
@function size($key, $map: $theme) {
  @return get('size', $key, $map);
}

// This function returns the size value for a given key.
// For example:
//   rem(footer)    // returns calc(var(--size-footer, 46px) / var(--size-base, 16px) * 1rem)
//   rem('$footer')   // returns 2.875rem
@function rem($key, $map: $theme) {
  @return -get-rem('size', $key, $map);
}

// TODO:
// # breakpoints
// small: 320px
// medium: 321px
// large: 800px

// opacity
// ghosted: 0.6
// disabled: 0.4
// loading: 0.2