@use 'sass:map';
@use 'sass:string';
@use 'sass:color';
@use 'sass:math';
@use 'sass:list';

@use './helpers' as *;

$sets: () !default;

// TODO: add `$current` to config
$default: 'default' !default;

// TODO: make part of config
$ref-char: '@';
$set-char: ':';
$path-char: '.';
$rgb-suffix: '--rgb';
$em-suffix: '--em';
$base-key: 'base';
$config-key: 'CONFIG';
$default-base: 16px;

// Private
@function -get-value($map, $keys...) {
  @if not map.has-key($map, $keys...) {
    $default-set: map.get($sets, $default);

    @if $map == $default-set {
      @error "'#{$keys}' is not defined.";
    }
    @return -get-value($default-set, $keys...);
  }
  @return map.get($map, $keys...);
}

// Gets a CSS variable key
@function -crate-var-from-keys($keys...) {
  $token: to-string($keys, '-');
  @return --#{$token};
}

@mixin -spread-value($map, $value, $keys...) {
  @if (not list.index($keys, $config-key)) {
    $spread: map.get($map, $config-key, 'spread');
    @if ($spread != false) {
      $base: map.get($map, $config-key, $base-key) or 16px;

      $_var: -crate-var-from-keys($keys...);
      #{$_var}: $value;

      @if (type-of($value) == 'color') {
        #{$_var}#{$rgb-suffix}: to-rgb($value);
      } @else if ($base and type-of($value) == 'number') {
        @if (math.compatible($value, $base)) {
          #{$_var}#{$em-suffix}: to-rel($value, $base);
        }
      }
    }
  }
}

// This mixin sets the CSS variables for a given theme.
@mixin -spread-variables($map: $default, $keys...) {
  @each $key, $value in $map {
    $_keys: list.append($keys, $key);
    @if (type-of($value) == 'map' and $key != $config-key) {
      @include -spread-variables($value, $_keys...);
    } @else if (type-of($value) == 'string') {
      @if (string.index($value, $ref-char) == 1) {
        $token: str-slice($value, 2);
        $value: get($token);
      }
      @include -spread-value($map, $value, $_keys...);
    } @else if ($value and type-of($value) != 'list') {
      @include -spread-value($map, $value, $_keys...);
    }
  }
}

@function -get-config($map, $keys...) {
  $config-keys: list.set-nth($keys, list.length($keys), $config-key);
  @return map.get($map, $config-keys...);
}

@function -em($token, $unit) {
  $parsed: -parse-token($token);
  $is-by-value: map.get($parsed, 'by-value');
  $keys: map.get($parsed, 'keys');
  $value: map.get($parsed, 'value');
  $config: map.get($parsed, 'config');

  $base: if($config, map.get($config, $base-key), $default-base) or
    $default-base;
  $em: to-rel($value, $base);

  @if ($is-by-value) {
    @return $em * $unit;
  }
  $_var: -crate-var-from-keys($keys...);
  @return calc(var(#{$_var}#{$em-suffix}, $em) * $unit);
}

@function -get-set-from-name($set-name: $default) {
  @if (not map.has-key($sets, $set-name)) {
    @error "'#{$set-name}' is not defined.";
  }
  @return map.get($sets, $set-name);
}

@function -get-keys-from-token($token) {
  @return string.split($token, $path-char);
}

@function -parse-token($token) {
  $set-name: $default;
  @if (string.index($token, $set-char)) {
    $split: string.split($token, $set-char);
    $set-name: list.nth($split, 1);
    $token: list.nth($split, 2);
  }

  $by-value: string.index($token, '$') == 1;
  @if ($by-value) {
    $token: string.slice($token, 2);
  }

  $map: -get-set-from-name($set-name);
  $keys: -get-keys-from-token($token);
  $value: -get-value($map, $keys...);
  $config: -get-config($map, $keys...);

  @if (type-of($value) == 'string') {
    @if (string.index($value, $ref-char) == 1) {
      $token: str-slice($value, 2);
      $value: get($token);
    }
  }

  @return (
    set-name: $set-name,
    token: $token,
    map: $map,
    keys: $keys,
    value: $value,
    by-value: $by-value,
    config: $config
  );
}

// Public

// This function returns the value for a given key.
// For example:
//   get('color.primary')    // returns var(--color-primary, #facd33)
//   get('$color.primary') // returns #facd33
@function get($token) {
  $parsed: -parse-token($token);
  $is-by-value: map.get($parsed, 'by-value');
  $keys: map.get($parsed, 'keys');
  $value: map.get($parsed, 'value');

  @if ($is-by-value) {
    @return $value;
  }

  $_var: -crate-var-from-keys($keys...);
  @return var(#{$_var}, $value);
}

@mixin css-definitions($set-name: $default) {
  $set: -get-set-from-name($set-name);
  @include -spread-variables($set);
}

@mixin add-set($set-name, $map) {
  $sets: map.set($sets, $set-name, $map) !global;
}

// Translation functions

// This function returns the color value for a given key.
// For example:
//   tokens.alpha('color.primary', 0.2)    // returns rgba(var(--color-primary--rgb, 250,205,51), 0.2)
//   tokens.alpha('$color.primary', 0.2) // returns rgba(250, 205, 51, 0.2)
@function alpha($token, $alpha: 1) {
  $parsed: -parse-token($token);
  $is-by-value: map.get($parsed, 'by-value');
  $keys: map.get($parsed, 'keys');
  $value: map.get($parsed, 'value');

  @if ($is-by-value) {
    @return rgba($value, $alpha);
  }
  $_var: -crate-var-from-keys($keys...);
  @return rgba(var(#{$_var}#{$rgb-suffix}, #{to-rgb($value)}), $alpha);
}

// This function returns the size value for a given key.
// For example:
//   tokens.rem('size.footer')    // returns calc(var(--size-footer, 46px) / var(--size-base, 16px) * 1rem)
//   tokens.rem('$size.footer')   // returns 2.875rem
@function rem($token) {
  @return -em($token, 1rem);
}

@function em($token) {
  @return -em($token, 1em);
}

@mixin media($keys...) {
  $conditions: ();
  @each $key in $keys {
    $raw: get($key);
    $query: if(type-of($raw) == 'string', unquote($raw), inspect($raw));

    // TODO: error if not a value?
    $conditions: append($conditions, $query, comma);
  }

  @media #{$conditions} {
    @content;
  }
}

@mixin scope($set-name: $default) {
  $original-set: $default;
  $default: $set-name !global;
  @content;
  $default: $original-set !global;
}
