@use 'sass:map';
@use 'sass:string';
@use 'sass:color';
@use 'sass:math';
@use 'sass:list';

@use './helpers' as *;

$sets: () !default;

$default: 'default' !default;
$current: $default;

// TODO: make part of config
$ref-char: '@';
$set-char: ':';
$path-char: '.';
$var-char: '$';
$rgb-suffix: '--rgb';
$em-suffix: '--em';
$base-key: 'base';
$config-key: 'CONFIG';
$default-base: 16px;

// Private
@function -get-value($map, $path...) {
  @if not map.has-key($map, $path...) {
    $current-set: map.get($sets, $current);
    @if $map != $current-set {
      @return -get-value($current-set, $path...);
    }

    $default-set: map.get($sets, $default);
    @if $map != $default-set {
      @return -get-value($default-set, $path...);
    }

    @error "'#{$path}' is not defined.";
  }
  @return map.get($map, $path...);
}

// Gets a CSS variable key
@function -create-var-from-keys($path...) {
  $var: to-string($path, '-');
  @return --#{$var};
}

@mixin -define-var($map, $value, $keys...) {
  @if (not list.index($keys, $config-key)) {
    $spread: map.get($map, $config-key, 'spread');
    @if ($spread != false) {
      $base: map.get($map, $config-key, $base-key) or 16px;

      $_var: -create-var-from-keys($keys...);
      #{$_var}: $value;

      @if (type-of($value) == 'color') {
        #{$_var}#{$rgb-suffix}: to-rgb($value);
      } @else if ($base and type-of($value) == 'number') {
        @if (math.compatible($value, $base)) {
          #{$_var}#{$em-suffix}: to-rel($value, $base);
        }
      }
    }
  }
}

@mixin -map-over($map, $path...) {
  @each $key, $value in $map {
    $_keys: list.append($path, $key);
    @if (type-of($value) == 'map' and $key != $config-key) {
      @include -map-over($value, $_keys...) using ($map, $value, $path...) {
        @content ($map, $value, $path...);
      }
    } @else if (type-of($value) == 'string') {
      @if (string.index($value, $ref-char) == 1) {
        $token: str-slice($value, 2);
        $value: get($token);
      }
      @content ($map, $value, $_keys...);
    } @else if ($value and type-of($value) != 'list') {
      @content ($map, $value, $_keys...);
    }
  }
}

// This mixin sets the CSS variables for a given theme.
@mixin -spread-variables($map, $path...) {
  @include -map-over($map, $path...) using ($map, $value, $path...) {
    @include -define-var($map, $value, $path...);
  }
}

@function -get-config($map, $path...) {
  $config-keys: ($config-key);

  @if (list.length($path) > 0) {
    $config-keys: list.set-nth($path, list.length($path), $config-key);
  }
  @return map.get($map, $config-keys...);
}

@function -em($token, $unit) {
  $parsed: -get-token($token);
  $is-by-value: map.get($parsed, 'by-value');
  $keys: map.get($parsed, 'keys');
  $value: map.get($parsed, 'value');
  $config: map.get($parsed, 'config');

  $base: if($config, map.get($config, $base-key), $default-base) or
    $default-base;
  $em: to-rel($value, $base);

  @if ($is-by-value) {
    @return $em * $unit;
  }
  $_var: map.get($parsed, 'var');
  @return calc(var(#{$_var}#{$em-suffix}, $em) * $unit);
}

@function -get-set-bay-name($set-name: $default) {
  @if (not map.has-key($sets, $set-name)) {
    @error "'#{$set-name}' is not defined.";
  }
  @return map.get($sets, $set-name);
}

@function -get-path-from-token($token) {
  @return string.split($token, $path-char);
}

@function -parse-token($token) {
  $raw: $token;
  $set: $current;
  @if (string.index($token, $set-char)) {
    $split: string.split($token, $set-char);
    $set: list.nth($split, 1);
    $token: list.nth($split, 2);
  }

  $by-value: string.index($token, $var-char) == 1;
  @if ($by-value) {
    $token: string.slice($token, 1 + string.length($var-char));
  }

  $path: -get-path-from-token($token);
  $var: null;
  @if (list.length($path) > 0) {
    $var: -create-var-from-keys($path...);
  }

  @return (
    raw: $raw,
    token: $token,
    set: $set,
    path: $path,
    var: $var,
    by-value: $by-value
  );
}

@function -get-token($token) {
  $parsed: -parse-token($token);
  $token: map.get($parsed, 'token');
  $set-name: map.get($parsed, 'set');
  $by-value: map.get($parsed, 'by-value');
  $path: map.get($parsed, 'path');
  $var: map.get($parsed, 'var');

  $map: -get-set-bay-name($set-name);
  $value: null;
  $config: null;

  @if ($token and $token != '') {
    $value: if($token, -get-value($map, $path...), null);
    $config: -get-config($map, $path...);

    @if (type-of($value) == 'string') {
      @if (string.index($value, $ref-char) == 1) {
        $token: str-slice($value, 2);
        $value: get($token);
      }
    }
  } @else {
    $value: $map;
    $config: -get-config($map);
  }

  @return (value: $value, by-value: $by-value, config: $config, var: $var);
}

// Public

// This function returns the value for a given key.
// For example:
//   get('color.primary')    // returns var(--color-primary, #facd33)
//   get('$color.primary') // returns #facd33
@function get($token) {
  $parsed: -get-token($token);
  $is-by-value: map.get($parsed, 'by-value');
  $value: map.get($parsed, 'value');

  @if ($is-by-value) {
    @return $value;
  }

  $var: map.get($parsed, 'var');
  @return var(#{$var}, $value);
}

@mixin css-definitions($set-name: $current) {
  $set: -get-set-bay-name($set-name);
  @include -spread-variables($set);
}

@mixin for-each($token) {
  $parsed: -get-token($token);
  $set: map.get($parsed, 'value');
  @include -map-over($set, ()) using ($map, $value, $path...) {
    @content ($map, $value, $path...);
  }
}

@mixin add-set($set-name, $map) {
  $sets: map.set($sets, $set-name, $map) !global;
}

// Translation functions

// This function returns the color value for a given key.
// For example:
//   tokens.alpha('color.primary', 0.2)    // returns rgba(var(--color-primary--rgb, 250,205,51), 0.2)
//   tokens.alpha('$color.primary', 0.2) // returns rgba(250, 205, 51, 0.2)
@function alpha($token, $alpha: 1) {
  $parsed: -get-token($token);
  $is-by-value: map.get($parsed, 'by-value');
  $value: map.get($parsed, 'value');

  @if ($is-by-value) {
    @return rgba($value, $alpha);
  }
  $var: map.get($parsed, 'var');
  @return rgba(var(#{$var}#{$rgb-suffix}, #{to-rgb($value)}), $alpha);
}

// This function returns the size value for a given key.
// For example:
//   tokens.rem('size.footer')    // returns calc(var(--size-footer, 46px) / var(--size-base, 16px) * 1rem)
//   tokens.rem('$size.footer')   // returns 2.875rem
@function rem($token) {
  @return -em($token, 1rem);
}

@function em($token) {
  @return -em($token, 1em);
}

@mixin media($tokens...) {
  $conditions: ();
  @each $token in $tokens {
    $parsed: -get-token($token);
    $value: map.get($parsed, 'value');
    $query: if(type-of($value) == 'string', unquote($value), inspect($value));

    // TODO: error if not a value?
    $conditions: append($conditions, $query, comma);
  }

  @media #{$conditions} {
    @content;
  }
}

@mixin scope($set-name: $default) {
  $original-set: $current;
  $current: $set-name !global;
  @content();
  $current: $original-set !global;
}
