@use 'sass:meta';

@use 'tokens' as tokens;

@include tokens.add-set(
  'alt',
  (
    color: (
      primary: #ff0000,
    ),
    size: (
      CONFIG: (
        base: 14px,
      ),
      root: 14px,
      small: 7px,
      regular: 14px,
    ),
  )
);

:root {
  @include tokens.css-definitions();
}

body.alt {
  @include tokens.css-definitions(alt);
}

.test {
  color: tokens.get('alt:$color.primary'); // #ff0000
  color: tokens.get('alt:color.primary'); // var(--color-primary, #93b733)

  color: tokens.alpha(
    'alt:color.primary',
    0.2
  ); // rgba(var(--color-primary--rgb, 147,183,51), 0.2)
  color: tokens.alpha('alt:$color.primary', 0.2); // rgba(147, 183, 51, 0.2)

  font-size: tokens.rem(
    'alt:size.small'
  ); // calc(var(--size-small--em, 0.5) * 1rem)
  font-size: tokens.rem('alt:$size.small'); // 0.5rem
}
