@use 'sass:meta';

@use './tokens/colors.scss' as color;
@use './tokens/sizes.scss' as size;
@use './tokens/opacities.scss' as *;

$default: (
  ok--color: meta.module-variables(color),
  ok--size: meta.module-variables(size),
  ok--opacity: $opacity,
);

@use 'oikaze' as tokens with (
  $sets: (
    default: $default,
  )
);

:root {
  @include tokens.css-definitions();
}

.test {
  color: tokens.get('$ok--color.primary'); // #93b733
  color: tokens.get('ok--color.primary'); // var(--color-primary, #93b733)

  color: tokens.alpha(
    'ok--color.primary',
    0.2
  ); // color-mix(in srgb, var(--color-primary, #93b733) 20%, transparent)
  color: tokens.alpha('$ok--color.primary', 0.2); // rgba(147, 183, 51, 0.2)

  font-size: tokens.rem(
    'ok--size.small'
  ); // calc(var(--size-small, 8px) / var(--size-base, 16px) * 1rem)
  font-size: tokens.rem('$ok--size.small'); // 0.5rem
}
