@use 'sass:meta';

@use './tokens/colors.scss' as color;
@use './tokens/sizes.scss' as size;

@use 'tokens' as tokens;

:root {
  @include tokens.spread-variables();
}

.test {
  color: tokens.get('$color.primary'); // #93b733
  color: tokens.get('color.primary'); // var(--color-primary, #93b733)

  color: tokens.with-opacity(
    'color.primary',
    0.2
  ); // rgba(var(--color-primary--rgb, 147,183,51), 0.2)
  color: tokens.with-opacity('$color.primary', 0.2); // rgba(147, 183, 51, 0.2)

  font-size: tokens.get('size.regular'); // var(--size-regular, 16px)
  font-size: tokens.get('$size.regular'); // 16px

  font-size: tokens.rem(
    'size.small'
  ); // calc(var(--size-small, 8px) / var(--size-base, 16px) * 1rem)
  font-size: tokens.rem('$size.small'); // 0.5rem
}
