@use 'sass:meta';

@use 'tokens' as tokens;

:root {
  @include tokens.css-definitions();
}

.test {
  color: tokens.get('$color.primary'); // #93b733
  color: tokens.get('color.primary'); // var(--color-primary, #93b733)

  color: tokens.alpha(
    'color.primary',
    0.2
  ); // color-mix(in srgb, var(--color-primary, #93b733) 20%, transparent);
  color: tokens.alpha('$color.primary', 0.2); // rgba(147, 183, 51, 0.2)

  font-size: tokens.get('size.regular'); // var(--size-regular, 16px)
  font-size: tokens.get('$size.regular'); // 16px

  font-size: tokens.rem(
    'size.small'
  ); // calc(var(--size-small, 8px) / var(--size-base, 16px) * 1rem)
  font-size: tokens.rem('$size.small'); // 0.5rem
}
