@use 'sass:map';
@use 'sass:string';

@use 'tokens' as tokens;

@include tokens.each('color') using ($token) {
  $var: tokens.prop($token);
  $value: tokens.get($token);
  
  // remove the leading '--color-' from the variable name
  $var: string.slice($var, 8);

  .c#{$var} {
    color: tokens.get($token);
  }

  .bg#{$var} {
    background-color: tokens.get($token);
  }
}

@include tokens.each('$size') using ($token) {
  $var: tokens.prop($token);
  $value: tokens.rem($token);

  // remove the leading '--size-' from the variable name
  $var: string.slice($var, 7);

  .p#{$var} {
    padding: $value;
  }

  .m#{$var} {
    margin: $value;
  }
}
