@use '../tokens/' as tokens;

pre[class*='language-'] {
  background: tokens.get('color.code-background') !important;
  box-shadow: tokens.get('shadow.lg');
  border: 1px solid tokens.get('color.code-border');
  margin: tokens.get('spacing.lg') !important;

  @include tokens.media('$media.mobile') {
    width: 100vw;
    margin: tokens.get('spacing.lg') -10vw !important;
    padding: 1em 10vw !important;
  }
}

.page-cheatsheet {
  h3 {
    clear: both;
    width: 100%;
    text-align: center;
    padding-top: tokens.get('spacing.xl');
    margin-bottom: 0;
  }
}

.example--pair {
  clear: both;

  @include tokens.media('$media.desktop') {
    pre[class*='language-'] {
      width: 41%;
      float: left;
    }

    pre[class*='language-']:last-child {
      width: 41%;
      float: right;
    }
  }

  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

.example-card {
  clear: both;
  width: 100%;

  blockquote {
    background-color: tokens.alpha('color.card-background', 0.5);
    box-shadow: tokens.get('shadow.md');
    border-radius: tokens.get('spacing.sm');
    border: 1px solid tokens.get('color.card-border');
    padding: tokens.get('spacing.sm');

    > p:first-child {
      color: tokens.get('color.emphasis');
      text-align: center;
      width: 100%;
      padding: 0 0.75rem;
    }

    @include tokens.media('$media.mobile') {
      width: 100vw;
      margin: 1.5rem -10vw !important;
      padding: 1em 10vw !important;
    }

    @include tokens.media('$media.desktop') {
      padding: 0;
      position: relative;
      float: left;
      display: block;
      width: 60%;
      margin: 0;
      margin-left: -80%;
      left: 80%;
      z-index: 1;

      > p:not(:first-child) {
        width: 55%;
      }
    }
  }

  pre[class*='language-'] {
    position: relative;
    margin: 3rem 0 20px 0 !important;
    float: right;
    width: 60%;
    z-index: 10;

    @include tokens.media('$media.mobile') {
      width: 90vw;
      margin: tokens.get('spacing.lg') -10vw !important;
      padding: 1em 10vw !important;
    }
  }

  &::after {
    content: '';
    clear: both;
    display: table;
  }
}
