$brand: '{base:color.choco-5}';

$text-1: '{base:color.choco-1}';
$text-2: '{base:color.choco-2}';

$surface-1: '{base:color.choco-12}';
$surface-2: '{base:color.choco-11}';
$surface-3: '{base:color.choco-10}';
$surface-4: '{base:color.choco-9}';

$shadow: #2e190a;
$border: #2e190a;

$link: '{base:color.indigo-3}';
$link--visited: '{base:color.purple-3}';
