@use 'sass:color';

$foreground: #f5f5f5;
$background: #333333;

$primary: #87ceeb;
$secondary: #ffa07a;
$accent: #9acd32;
$emphasis: #ffffff;

$scrollbar-track: #555555;
$scrollbar-track-border: #474747;
$scrollbar-thumb: #2b2b2b;
$scrollbar-thumb--hover: #191919;

$shadow: #1c1c1c;
