@use 'sass:color';

$foreground: #e7e7eb;
$background: #2e2930;

$primary: #4d80e6;
$secondary: #ffa07a;
$accent: #9acd32;
$emphasis: #eeeff3;

$link: #7082ef;

$scrollbar-track: #555555;
$scrollbar-track-border: #474747;
$scrollbar-thumb: #2b2b2b;
$scrollbar-thumb--hover: #191919;

$card-background: #524e4d;
$card-border: #282828;
$code-background: #1c1c1c;
$code-border: #1c1c1c;

$border: #121212;
$shadow: #16160e;
