$atlantis-50: #d5eaab;
$atlantis-100: #d0e89f;
$atlantis-200: #c2e182;
$atlantis-300: #b3da66;
$atlantis-400: #abd554;
$atlantis-500: #9acd32;
$atlantis-600: #80ab2a;
$atlantis-700: #739925;
$atlantis-800: #5e7d1e;
$atlantis-900: #486017;

$vivid-tangerine-50: #ffffff;
$vivid-tangerine-100: #ffffff;
$vivid-tangerine-200: #ffe7de;
$vivid-tangerine-300: #ffceba;
$vivid-tangerine-400: #ffbfa5;
$vivid-tangerine-500: #ffa07a;
$vivid-tangerine-600: #ff814f;
$vivid-tangerine-700: #ff723a;
$vivid-tangerine-800: #ff5916;
$vivid-tangerine-900: #f14500;

$seagull-50: #ffffff;
$seagull-100: #fbfdfe;
$seagull-200: #ddf1f9;
$seagull-300: #bee4f4;
$seagull-400: #acddf1;
$seagull-500: #87ceeb;
$seagull-600: #62bfe5;
$seagull-700: #50b7e2;
$seagull-800: #31abdd;
$seagull-900: #2198c9;

$royal-blue-50: #e3e8ff;
$royal-blue-100: #d5ddff;
$royal-blue-200: #b1c0ff;
$royal-blue-300: #8da3ff;
$royal-blue-400: #7892ff;
$royal-blue-500: #4d6fff;
$royal-blue-600: #224cff;
$royal-blue-700: #0d3bff;
$royal-blue-800: #002ce8;
$royal-blue-900: #0025c4;

$persimmon-50: #ffede6;
$persimmon-100: #ffe2d8;
$persimmon-200: #ffc8b4;
$persimmon-300: #ffae90;
$persimmon-400: #ff9e7b;
$persimmon-500: #ff7f50;
$persimmon-600: #ff6025;
$persimmon-700: #ff5010;
$persimmon-800: #eb3f00;
$persimmon-900: #c73600;

$glacier-50: #dbedf2;
$glacier-100: #d0e8ef;
$glacier-200: #b5dce6;
$glacier-300: #9bcfdc;
$glacier-400: #8bc7d7;
$glacier-500: #6bb8cc;
$glacier-600: #4ba9c1;
$glacier-700: #3f9fb7;
$glacier-800: #36889d;
$glacier-900: #2d7182;

$mirage-50: #365398;
$mirage-100: #334e8e;
$mirage-200: #293f74;
$mirage-300: #203159;
$mirage-400: #1a284a;
$mirage-500: #0f172a;
$mirage-600: #04060a;
$mirage-700: #000000;
$mirage-800: #000000;
$mirage-900: #000000;
