@use "sass:color";

$foreground: #F5F5F5;
$background: #333333;

$primary: #87CEEB;
$secondary: #FFA07A;
$accent: #9ACD32;
$emphasis: #ffffff;

$scrollbar-track: #555555;
$scrollbar-track-border: #474747;
$scrollbar-thumb: #2b2b2b;
$scrollbar-thumb--hover: #191919;

$shadow: #1c1c1c;