@use 'sass:color';

$foreground: #333333;
$background: #F0F3F8;

$primary: #4D6FFF;
$secondary: #FF7F50;
$accent: #6BB8CC;
$emphasis: #0f172a;

$link: #14847E;
$cool-gray: #222836;
$light-gray: #e3e3e3;

$scrollbar-track: #dedede;
$scrollbar-track-border: #cacaca;
$scrollbar-thumb: #888;
$scrollbar-thumb--hover: #555;

$card-background: black;

$shadow: #1c1c1c;
