@use 'sass:color';

$foreground: #191e3c;
$background: #ffffff;

$primary: #4d6fff;
$secondary: #cd853f;
$accent: #6bb8cc;
$emphasis: #4a4a4a;

$link: #5e79ff;
$cool-gray: #222836;
$light-gray: #e3e3e3;

$scrollbar-track: #dedede;
$scrollbar-track-border: #cacaca;
$scrollbar-thumb: #888;
$scrollbar-thumb--hover: #555;

$card-background: #eae9ff;
$card-border: #565b81;
$code-background: #272822;
$code-border: #272822;

$border: #565b81;
$shadow: #000000;
