$brand: '{base:color.orange-3}';

$text-1: #d1d5db;
$text-2: #d1d5db;

$surface-1: #0f172a;
$surface-2: #1e293b;
$surface-3: #1e293b;
$surface-4: '{base:color.gray-6}';

$shadow: #4b5563;
$border: #4b5563;

$link: '{base:color.indigo-3}';
$link--visited: '{base:color.purple-3}';
