$brand: '{base:color.purple-5}';

$text-1: '{base:color.purple-9}';
$text-2: '{base:color.purple-7}';

$surface-1: '{base:color.purple-0}';
$surface-2: '{base:color.purple-1}';
$surface-3: '{base:color.purple-2}';
$surface-4: '{base:color.purple-3}';

$shadow: '{base:color.purple-12}';
$border: '{base:color.purple-12}';

$link: '{base:color.indigo-7}';
$link--visited: '{base:color.purple-7}';
