@use 'sass:meta';
@use 'sass:map';

@use 'oikaze/themes/ocean' as ocean;

@use './icons.scss' as icons;

$light-theme: map.merge(
  ocean.$default,
  (
    icon: meta.module-variables(icons),
    brand: (
      font: (
        'Quicksand',
        'Quicksand-fallback',
        'Arial',
        sans-serif,
      ),
      scrollbar-track: #dedede,
      scrollbar-track-border: #cacaca,
      scrollbar-thumb: #888,
      scrollbar-thumb--hover: #555,

      code-background: #2e2930,
      code-border: #272822,
      link: #44617b,
    ),
    toogle: (
      moon-color: '{$color.primary}',
      sun-color: '{$color.primary}',
      moon-opacity: 0,
      sun-opacity: 1,
      moon-position: 40px,
      sun-position: -20px,
      transition: 0.3s ease-in-out,
    ),
  )
);

$dark-theme: map.merge(
  ocean.$dark,
  (
    toogle: (
      moon-opacity: 1,
      sun-opacity: 0,
      moon-position: -20px,
      sun-position: 40px,
    ),
  )
);

@forward 'oikaze' with (
  $default: 'light-theme',
  $sets: (
    'light-theme': $light-theme,
    'dark-theme': $dark-theme,
  )
);
