@use 'sass:meta';
@use 'sass:map';

@use 'oikaze/themes' as themes;

@use './icons.scss' as icons;

$light-theme-ext: (
  icon: meta.module-variables(icons),
  color: (
    link: #44617b,
    code-background: #2e2930,
    code-border: #272822,
    scrollbar-track: #dedede,
    scrollbar-track-border: #cacaca,
    scrollbar-thumb: #888,
    scrollbar-thumb--hover: #555,
  ),
  font: (
    brand: (
      'Quicksand',
      'Quicksand-fallback',
      'Arial',
      sans-serif,
    ),
  ),
  toogle: (
    moon-color: '{$color.primary}',
    sun-color: '{$color.primary}',
    moon-opacity: 0,
    sun-opacity: 1,
    moon-position: 40px,
    sun-position: -20px,
    transition: 0.3s ease-in-out,
  ),
);

$dark-theme-ext: (
  toogle: (
    moon-opacity: 1,
    sun-opacity: 0,
    moon-position: -20px,
    sun-position: 40px,
  ),
);

@use 'oikaze' as tokens with (
  $default: 'ocean-light',
  $sets: themes.$sets
);
@forward 'oikaze';

@include tokens.extend-set('ocean-light', $light-theme-ext);
@include tokens.extend-set('ocean-dark', $dark-theme-ext);

