@use 'sass:meta';

@use './colors.scss' as colors;
@use './colors-light.scss' as colors-light;
@use './colors-dark.scss' as colors-dark;

@use './fonts.scss' as fonts;
@use './media.scss' as media-queries;
@use './icons.scss' as icons;
@use './shadows.scss' as shadows;
@use './motion.scss' as motion;
@use './spacing.scss' as spacing;

$light-theme: (
  color: meta.module-variables(colors-light),
  font: meta.module-variables(fonts),
  media: meta.module-variables(media-queries),
  icon: meta.module-variables(icons),
  shadow: meta.module-variables(shadows),
  motion: meta.module-variables(motion),
  spacing: meta.module-variables(spacing),
  toogle: (
    moon-opacity: 0,
    sun-opacity: 1,
    moon-position: 40px,
    sun-position: -20px,
    transition: 0.3s ease-in-out,
  ),
);

$dark-theme: (
  color: meta.module-variables(colors-dark),
  toogle: (
    moon-opacity: 1,
    sun-opacity: 0,
    moon-position: -20px,
    sun-position: 40px,
  ),
);

@forward 'oikaze' with (
  $default: 'light-theme',
  $sets: (
    'global': meta.module-variables(colors),
    'light-theme': $light-theme,
    'dark-theme': $dark-theme,
  )
);
