$brand: '{base:color.orange-6}';

$text-1: #374151;
$text-2: #374151;

$surface-1: #f0f8ff;
$surface-2: #f9fafb;
$surface-3: #ffffff;
$surface-4: '{base:color.gray-3}';

$shadow: #252627;
$border: #e5e7eb;

$link: '{base:color.indigo-7}';
$link--visited: '{base:color.purple-7}';
