$CONFIG: (
  spread: false,
);


$mobile-min: 320px;
$mobile-max: 768px;
$mobile-width: 90vw;

$tablet-min: $mobile-max + 1px;
$tablet-max: 1024px;

$desktop-max: 1024px;

$mobile: 'only screen and (max-width: #{$mobile-max})';
$tablet: 'only screen and (min-width: #{$tablet-min}) and (max-width: #{$tablet-max})';
$desktop: 'only screen and (min-width: #{$desktop-max})';
$retina: 'only screen and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)';
$landscape: 'screen and (orientation:landscape)';
$portrait: 'screen and (orientation:portrait)';
$prefers-dark: '(prefers-color-scheme: dark)';
