:root {
  --color-base-gray-light: #cccccc;
  --color-base-gray-medium: #999999;
  --color-base-gray-dark: #111111;
  --color-base-red: #ff0000;
  --color-base-green: #00ff00;
  --color-font-base: #ff0000;
  --color-font-secondary: #00ff00;
  --color-font-tertiary: #cccccc;
  --size-font-small: 0.75rem;
  --size-font-small--em: 0.75;
  --size-font-medium: 1rem;
  --size-font-medium--em: 1;
  --size-font-large: 2rem;
  --size-font-large--em: 2;
  --size-font-base: 1rem;
  --size-font-base--em: 1;
}

.test {
  color: #ff0000;
  color: var(--color-font-secondary, #00ff00);
  color: color-mix(in srgb, var(--color-base-green, #00ff00) 20%, transparent);
  color: rgba(255, 0, 0, 0.2);
  font-size: var(--size-font-base, 1rem);
  font-size: 2rem;
  font-size: calc(var(--size-font-small--em, 0.75) * 1rem);
  font-size: 1rem;
}
