@use 'sass:meta';
@use 'sass:map';

@use './variables' as sd;

@use 'oikaze' as tokens with (
  $sets: (
    default: (
      color: map.get(sd.$tokens, 'color'),
      size: map.get(sd.$tokens, 'size'),
    ),
  )
);

:root {
  @include tokens.css-definitions();
}

.test {
  color: tokens.get('$color.font.base'); // #ff0000
  color: tokens.get(
    'color.font.secondary'
  ); // var(--color-font-secondary, #00ff00);

  color: tokens.alpha(
    'color.base.green',
    0.2
  ); // rgba(var(--color-base-green--rgb, 0,255,0), 0.2)
  color: tokens.alpha('$color.base.red', 0.2); // rgba(255, 0, 0, 0.2)

  font-size: tokens.get('size.font.base'); // var(--size-regular, 16px)
  font-size: tokens.get('$size.font.large'); // 16px

  font-size: tokens.rem(
    'size.font.small'
  ); // calc(var(--size-font-small--em, 0.75) * 1rem)
  font-size: tokens.rem('$size.font.base'); // 1rem
}
