@use 'sass:meta';
@use 'sass:map';

@use './variables' as sd;

@use 'oikaze' as tokens with (
  $sets: (
    default: (
      color: map.get(sd.$tokens, 'color'),
      size: map.get(sd.$tokens, 'size'),
    ),
  )
);

:root {
  @include tokens.css-definitions();
}

.test {
  color: tokens.get('$color.font.base');
  color: tokens.get('color.font.secondary');

  color: tokens.alpha('color.base.green', 0.2);
  color: tokens.alpha('$color.base.red', 0.2);

  font-size: tokens.get('size.font.base');
  font-size: tokens.get('$size.font.large');

  font-size: tokens.rem('size.font.small');
  font-size: tokens.rem('$size.font.base');

  font-size: tokens.em('size.font.small');
  font-size: tokens.em('$size.font.base');

  font-size: tokens.percentage('size.font.small');
  font-size: tokens.percentage('$size.font.base');
}
