:root {
  --primary-color-50: #e8eaf6;
  --primary-color-50--rgb: "232,234,246";
  --primary-color-100: #c5cae9;
  --primary-color-100--rgb: "197,202,233";
  --primary-color-200: #9fa8da;
  --primary-color-200--rgb: "159,168,218";
  --primary-color-300: #7986cb;
  --primary-color-300--rgb: "121,134,203";
  --primary-color-400: #5c6bc0;
  --primary-color-400--rgb: "92,107,192";
  --primary-color-500: #3f51b5;
  --primary-color-500--rgb: "63,81,181";
  --primary-color-600: #3949ab;
  --primary-color-600--rgb: "57,73,171";
  --primary-color-700: #303f9f;
  --primary-color-700--rgb: "48,63,159";
  --primary-color-800: #283593;
  --primary-color-800--rgb: "40,53,147";
  --primary-color-900: #1a237e;
  --primary-color-900--rgb: "26,35,126";
  --primary-color-A100: #8c9eff;
  --primary-color-A100--rgb: "140,158,255";
  --primary-color-A200: #536dfe;
  --primary-color-A200--rgb: "83,109,254";
  --primary-color-A400: #3d5afe;
  --primary-color-A400--rgb: "61,90,254";
  --primary-color-A700: #304ffe;
  --primary-color-A700--rgb: "48,79,254";
  --contrast-primary-color-50: rgba(0, 0, 0, 0.87);
  --contrast-primary-color-50--rgb: "0,0,0";
  --contrast-primary-color-100: rgba(0, 0, 0, 0.87);
  --contrast-primary-color-100--rgb: "0,0,0";
  --contrast-primary-color-200: rgba(0, 0, 0, 0.87);
  --contrast-primary-color-200--rgb: "0,0,0";
  --contrast-primary-color-300: white;
  --contrast-primary-color-300--rgb: "255,255,255";
  --contrast-primary-color-400: white;
  --contrast-primary-color-400--rgb: "255,255,255";
  --contrast-primary-color-500: white;
  --contrast-primary-color-500--rgb: "255,255,255";
  --contrast-primary-color-600: white;
  --contrast-primary-color-600--rgb: "255,255,255";
  --contrast-primary-color-700: white;
  --contrast-primary-color-700--rgb: "255,255,255";
  --contrast-primary-color-800: white;
  --contrast-primary-color-800--rgb: "255,255,255";
  --contrast-primary-color-900: white;
  --contrast-primary-color-900--rgb: "255,255,255";
  --contrast-primary-color-A100: rgba(0, 0, 0, 0.87);
  --contrast-primary-color-A100--rgb: "0,0,0";
  --contrast-primary-color-A200: white;
  --contrast-primary-color-A200--rgb: "255,255,255";
  --contrast-primary-color-A400: white;
  --contrast-primary-color-A400--rgb: "255,255,255";
  --contrast-primary-color-A700: white;
  --contrast-primary-color-A700--rgb: "255,255,255";
  --primary-color-default: #3f51b5;
  --primary-color-default--rgb: "63,81,181";
  --primary-color-lighter: #c5cae9;
  --primary-color-lighter--rgb: "197,202,233";
  --primary-color-darker: #303f9f;
  --primary-color-darker--rgb: "48,63,159";
  --primary-color-text: #3f51b5;
  --primary-color-text--rgb: "63,81,181";
  --primary-color-default-contrast: white;
  --primary-color-default-contrast--rgb: "255,255,255";
  --primary-color-lighter-contrast: rgba(0, 0, 0, 0.87);
  --primary-color-lighter-contrast--rgb: "0,0,0";
  --primary-color-darker-contrast: white;
  --primary-color-darker-contrast--rgb: "255,255,255";
  --primary-color-50-contrast: rgba(0, 0, 0, 0.87);
  --primary-color-50-contrast--rgb: "0,0,0";
  --primary-color-100-contrast: rgba(0, 0, 0, 0.87);
  --primary-color-100-contrast--rgb: "0,0,0";
  --primary-color-200-contrast: rgba(0, 0, 0, 0.87);
  --primary-color-200-contrast--rgb: "0,0,0";
  --primary-color-300-contrast: white;
  --primary-color-300-contrast--rgb: "255,255,255";
  --primary-color-400-contrast: white;
  --primary-color-400-contrast--rgb: "255,255,255";
  --primary-color-500-contrast: white;
  --primary-color-500-contrast--rgb: "255,255,255";
  --primary-color-600-contrast: white;
  --primary-color-600-contrast--rgb: "255,255,255";
  --primary-color-700-contrast: white;
  --primary-color-700-contrast--rgb: "255,255,255";
  --primary-color-800-contrast: white;
  --primary-color-800-contrast--rgb: "255,255,255";
  --primary-color-900-contrast: white;
  --primary-color-900-contrast--rgb: "255,255,255";
  --primary-color-A100-contrast: rgba(0, 0, 0, 0.87);
  --primary-color-A100-contrast--rgb: "0,0,0";
  --primary-color-A200-contrast: white;
  --primary-color-A200-contrast--rgb: "255,255,255";
  --primary-color-A400-contrast: white;
  --primary-color-A400-contrast--rgb: "255,255,255";
  --primary-color-A700-contrast: white;
  --primary-color-A700-contrast--rgb: "255,255,255";
  --accent-color-50: #fce4ec;
  --accent-color-50--rgb: "252,228,236";
  --accent-color-100: #f8bbd0;
  --accent-color-100--rgb: "248,187,208";
  --accent-color-200: #f48fb1;
  --accent-color-200--rgb: "244,143,177";
  --accent-color-300: #f06292;
  --accent-color-300--rgb: "240,98,146";
  --accent-color-400: #ec407a;
  --accent-color-400--rgb: "236,64,122";
  --accent-color-500: #e91e63;
  --accent-color-500--rgb: "233,30,99";
  --accent-color-600: #d81b60;
  --accent-color-600--rgb: "216,27,96";
  --accent-color-700: #c2185b;
  --accent-color-700--rgb: "194,24,91";
  --accent-color-800: #ad1457;
  --accent-color-800--rgb: "173,20,87";
  --accent-color-900: #880e4f;
  --accent-color-900--rgb: "136,14,79";
  --accent-color-A100: #ff80ab;
  --accent-color-A100--rgb: "255,128,171";
  --accent-color-A200: #ff4081;
  --accent-color-A200--rgb: "255,64,129";
  --accent-color-A400: #f50057;
  --accent-color-A400--rgb: "245,0,87";
  --accent-color-A700: #c51162;
  --accent-color-A700--rgb: "197,17,98";
  --contrast-accent-color-50: rgba(0, 0, 0, 0.87);
  --contrast-accent-color-50--rgb: "0,0,0";
  --contrast-accent-color-100: rgba(0, 0, 0, 0.87);
  --contrast-accent-color-100--rgb: "0,0,0";
  --contrast-accent-color-200: rgba(0, 0, 0, 0.87);
  --contrast-accent-color-200--rgb: "0,0,0";
  --contrast-accent-color-300: rgba(0, 0, 0, 0.87);
  --contrast-accent-color-300--rgb: "0,0,0";
  --contrast-accent-color-400: rgba(0, 0, 0, 0.87);
  --contrast-accent-color-400--rgb: "0,0,0";
  --contrast-accent-color-500: white;
  --contrast-accent-color-500--rgb: "255,255,255";
  --contrast-accent-color-600: white;
  --contrast-accent-color-600--rgb: "255,255,255";
  --contrast-accent-color-700: white;
  --contrast-accent-color-700--rgb: "255,255,255";
  --contrast-accent-color-800: white;
  --contrast-accent-color-800--rgb: "255,255,255";
  --contrast-accent-color-900: white;
  --contrast-accent-color-900--rgb: "255,255,255";
  --contrast-accent-color-A100: rgba(0, 0, 0, 0.87);
  --contrast-accent-color-A100--rgb: "0,0,0";
  --contrast-accent-color-A200: white;
  --contrast-accent-color-A200--rgb: "255,255,255";
  --contrast-accent-color-A400: white;
  --contrast-accent-color-A400--rgb: "255,255,255";
  --contrast-accent-color-A700: white;
  --contrast-accent-color-A700--rgb: "255,255,255";
  --accent-color-default: #ff4081;
  --accent-color-default--rgb: "255,64,129";
  --accent-color-lighter: #ff80ab;
  --accent-color-lighter--rgb: "255,128,171";
  --accent-color-darker: #f50057;
  --accent-color-darker--rgb: "245,0,87";
  --accent-color-text: #ff4081;
  --accent-color-text--rgb: "255,64,129";
  --accent-color-default-contrast: white;
  --accent-color-default-contrast--rgb: "255,255,255";
  --accent-color-lighter-contrast: rgba(0, 0, 0, 0.87);
  --accent-color-lighter-contrast--rgb: "0,0,0";
  --accent-color-darker-contrast: white;
  --accent-color-darker-contrast--rgb: "255,255,255";
  --accent-color-50-contrast: rgba(0, 0, 0, 0.87);
  --accent-color-50-contrast--rgb: "0,0,0";
  --accent-color-100-contrast: rgba(0, 0, 0, 0.87);
  --accent-color-100-contrast--rgb: "0,0,0";
  --accent-color-200-contrast: rgba(0, 0, 0, 0.87);
  --accent-color-200-contrast--rgb: "0,0,0";
  --accent-color-300-contrast: rgba(0, 0, 0, 0.87);
  --accent-color-300-contrast--rgb: "0,0,0";
  --accent-color-400-contrast: rgba(0, 0, 0, 0.87);
  --accent-color-400-contrast--rgb: "0,0,0";
  --accent-color-500-contrast: white;
  --accent-color-500-contrast--rgb: "255,255,255";
  --accent-color-600-contrast: white;
  --accent-color-600-contrast--rgb: "255,255,255";
  --accent-color-700-contrast: white;
  --accent-color-700-contrast--rgb: "255,255,255";
  --accent-color-800-contrast: white;
  --accent-color-800-contrast--rgb: "255,255,255";
  --accent-color-900-contrast: white;
  --accent-color-900-contrast--rgb: "255,255,255";
  --accent-color-A100-contrast: rgba(0, 0, 0, 0.87);
  --accent-color-A100-contrast--rgb: "0,0,0";
  --accent-color-A200-contrast: white;
  --accent-color-A200-contrast--rgb: "255,255,255";
  --accent-color-A400-contrast: white;
  --accent-color-A400-contrast--rgb: "255,255,255";
  --accent-color-A700-contrast: white;
  --accent-color-A700-contrast--rgb: "255,255,255";
  --warn-color-50: #ffebee;
  --warn-color-50--rgb: "255,235,238";
  --warn-color-100: #ffcdd2;
  --warn-color-100--rgb: "255,205,210";
  --warn-color-200: #ef9a9a;
  --warn-color-200--rgb: "239,154,154";
  --warn-color-300: #e57373;
  --warn-color-300--rgb: "229,115,115";
  --warn-color-400: #ef5350;
  --warn-color-400--rgb: "239,83,80";
  --warn-color-500: #f44336;
  --warn-color-500--rgb: "244,67,54";
  --warn-color-600: #e53935;
  --warn-color-600--rgb: "229,57,53";
  --warn-color-700: #d32f2f;
  --warn-color-700--rgb: "211,47,47";
  --warn-color-800: #c62828;
  --warn-color-800--rgb: "198,40,40";
  --warn-color-900: #b71c1c;
  --warn-color-900--rgb: "183,28,28";
  --warn-color-A100: #ff8a80;
  --warn-color-A100--rgb: "255,138,128";
  --warn-color-A200: #ff5252;
  --warn-color-A200--rgb: "255,82,82";
  --warn-color-A400: #ff1744;
  --warn-color-A400--rgb: "255,23,68";
  --warn-color-A700: #d50000;
  --warn-color-A700--rgb: "213,0,0";
  --contrast-warn-color-50: rgba(0, 0, 0, 0.87);
  --contrast-warn-color-50--rgb: "0,0,0";
  --contrast-warn-color-100: rgba(0, 0, 0, 0.87);
  --contrast-warn-color-100--rgb: "0,0,0";
  --contrast-warn-color-200: rgba(0, 0, 0, 0.87);
  --contrast-warn-color-200--rgb: "0,0,0";
  --contrast-warn-color-300: rgba(0, 0, 0, 0.87);
  --contrast-warn-color-300--rgb: "0,0,0";
  --contrast-warn-color-400: rgba(0, 0, 0, 0.87);
  --contrast-warn-color-400--rgb: "0,0,0";
  --contrast-warn-color-500: white;
  --contrast-warn-color-500--rgb: "255,255,255";
  --contrast-warn-color-600: white;
  --contrast-warn-color-600--rgb: "255,255,255";
  --contrast-warn-color-700: white;
  --contrast-warn-color-700--rgb: "255,255,255";
  --contrast-warn-color-800: white;
  --contrast-warn-color-800--rgb: "255,255,255";
  --contrast-warn-color-900: white;
  --contrast-warn-color-900--rgb: "255,255,255";
  --contrast-warn-color-A100: rgba(0, 0, 0, 0.87);
  --contrast-warn-color-A100--rgb: "0,0,0";
  --contrast-warn-color-A200: white;
  --contrast-warn-color-A200--rgb: "255,255,255";
  --contrast-warn-color-A400: white;
  --contrast-warn-color-A400--rgb: "255,255,255";
  --contrast-warn-color-A700: white;
  --contrast-warn-color-A700--rgb: "255,255,255";
  --warn-color-default: #f44336;
  --warn-color-default--rgb: "244,67,54";
  --warn-color-lighter: #ffcdd2;
  --warn-color-lighter--rgb: "255,205,210";
  --warn-color-darker: #d32f2f;
  --warn-color-darker--rgb: "211,47,47";
  --warn-color-text: #f44336;
  --warn-color-text--rgb: "244,67,54";
  --warn-color-default-contrast: white;
  --warn-color-default-contrast--rgb: "255,255,255";
  --warn-color-lighter-contrast: rgba(0, 0, 0, 0.87);
  --warn-color-lighter-contrast--rgb: "0,0,0";
  --warn-color-darker-contrast: white;
  --warn-color-darker-contrast--rgb: "255,255,255";
  --warn-color-50-contrast: rgba(0, 0, 0, 0.87);
  --warn-color-50-contrast--rgb: "0,0,0";
  --warn-color-100-contrast: rgba(0, 0, 0, 0.87);
  --warn-color-100-contrast--rgb: "0,0,0";
  --warn-color-200-contrast: rgba(0, 0, 0, 0.87);
  --warn-color-200-contrast--rgb: "0,0,0";
  --warn-color-300-contrast: rgba(0, 0, 0, 0.87);
  --warn-color-300-contrast--rgb: "0,0,0";
  --warn-color-400-contrast: rgba(0, 0, 0, 0.87);
  --warn-color-400-contrast--rgb: "0,0,0";
  --warn-color-500-contrast: white;
  --warn-color-500-contrast--rgb: "255,255,255";
  --warn-color-600-contrast: white;
  --warn-color-600-contrast--rgb: "255,255,255";
  --warn-color-700-contrast: white;
  --warn-color-700-contrast--rgb: "255,255,255";
  --warn-color-800-contrast: white;
  --warn-color-800-contrast--rgb: "255,255,255";
  --warn-color-900-contrast: white;
  --warn-color-900-contrast--rgb: "255,255,255";
  --warn-color-A100-contrast: rgba(0, 0, 0, 0.87);
  --warn-color-A100-contrast--rgb: "0,0,0";
  --warn-color-A200-contrast: white;
  --warn-color-A200-contrast--rgb: "255,255,255";
  --warn-color-A400-contrast: white;
  --warn-color-A400-contrast--rgb: "255,255,255";
  --warn-color-A700-contrast: white;
  --warn-color-A700-contrast--rgb: "255,255,255";
  --foreground-color-base: black;
  --foreground-color-base--rgb: "0,0,0";
  --foreground-color-divider: rgba(0, 0, 0, 0.12);
  --foreground-color-divider--rgb: "0,0,0";
  --foreground-color-dividers: rgba(0, 0, 0, 0.12);
  --foreground-color-dividers--rgb: "0,0,0";
  --foreground-color-disabled: rgba(0, 0, 0, 0.38);
  --foreground-color-disabled--rgb: "0,0,0";
  --foreground-color-disabled-button: rgba(0, 0, 0, 0.26);
  --foreground-color-disabled-button--rgb: "0,0,0";
  --foreground-color-disabled-text: rgba(0, 0, 0, 0.38);
  --foreground-color-disabled-text--rgb: "0,0,0";
  --foreground-color-elevation: black;
  --foreground-color-elevation--rgb: "0,0,0";
  --foreground-color-hint-text: rgba(0, 0, 0, 0.38);
  --foreground-color-hint-text--rgb: "0,0,0";
  --foreground-color-secondary-text: rgba(0, 0, 0, 0.54);
  --foreground-color-secondary-text--rgb: "0,0,0";
  --foreground-color-icon: rgba(0, 0, 0, 0.54);
  --foreground-color-icon--rgb: "0,0,0";
  --foreground-color-icons: rgba(0, 0, 0, 0.54);
  --foreground-color-icons--rgb: "0,0,0";
  --foreground-color-text: rgba(0, 0, 0, 0.87);
  --foreground-color-text--rgb: "0,0,0";
  --foreground-color-slider-min: rgba(0, 0, 0, 0.87);
  --foreground-color-slider-min--rgb: "0,0,0";
  --foreground-color-slider-off: rgba(0, 0, 0, 0.26);
  --foreground-color-slider-off--rgb: "0,0,0";
  --foreground-color-slider-off-active: rgba(0, 0, 0, 0.38);
  --foreground-color-slider-off-active--rgb: "0,0,0";
  --background-color-status-bar: #e0e0e0;
  --background-color-status-bar--rgb: "224,224,224";
  --background-color-app-bar: #f5f5f5;
  --background-color-app-bar--rgb: "245,245,245";
  --background-color-background: #fafafa;
  --background-color-background--rgb: "250,250,250";
  --background-color-hover: rgba(0, 0, 0, 0.04);
  --background-color-hover--rgb: "0,0,0";
  --background-color-card: white;
  --background-color-card--rgb: "255,255,255";
  --background-color-dialog: white;
  --background-color-dialog--rgb: "255,255,255";
  --background-color-disabled-button: rgba(0, 0, 0, 0.12);
  --background-color-disabled-button--rgb: "0,0,0";
  --background-color-raised-button: white;
  --background-color-raised-button--rgb: "255,255,255";
  --background-color-focused-button: rgba(0, 0, 0, 0.12);
  --background-color-focused-button--rgb: "0,0,0";
  --background-color-selected-button: #e0e0e0;
  --background-color-selected-button--rgb: "224,224,224";
  --background-color-selected-disabled-button: #bdbdbd;
  --background-color-selected-disabled-button--rgb: "189,189,189";
  --background-color-disabled-button-toggle: #eeeeee;
  --background-color-disabled-button-toggle--rgb: "238,238,238";
  --background-color-unselected-chip: #e0e0e0;
  --background-color-unselected-chip--rgb: "224,224,224";
  --background-color-disabled-list-option: #eeeeee;
  --background-color-disabled-list-option--rgb: "238,238,238";
  --background-color-tooltip: #616161;
  --background-color-tooltip--rgb: "97,97,97";
  --primary-50: #e8eaf6;
  --primary-50--rgb: "232,234,246";
  --primary-100: #c5cae9;
  --primary-100--rgb: "197,202,233";
  --primary-200: #9fa8da;
  --primary-200--rgb: "159,168,218";
  --primary-300: #7986cb;
  --primary-300--rgb: "121,134,203";
  --primary-400: #5c6bc0;
  --primary-400--rgb: "92,107,192";
  --primary-500: #3f51b5;
  --primary-500--rgb: "63,81,181";
  --primary-600: #3949ab;
  --primary-600--rgb: "57,73,171";
  --primary-700: #303f9f;
  --primary-700--rgb: "48,63,159";
  --primary-800: #283593;
  --primary-800--rgb: "40,53,147";
  --primary-900: #1a237e;
  --primary-900--rgb: "26,35,126";
  --primary-A100: #8c9eff;
  --primary-A100--rgb: "140,158,255";
  --primary-A200: #536dfe;
  --primary-A200--rgb: "83,109,254";
  --primary-A400: #3d5afe;
  --primary-A400--rgb: "61,90,254";
  --primary-A700: #304ffe;
  --primary-A700--rgb: "48,79,254";
  --contrast-primary-50: rgba(0, 0, 0, 0.87);
  --contrast-primary-50--rgb: "0,0,0";
  --contrast-primary-100: rgba(0, 0, 0, 0.87);
  --contrast-primary-100--rgb: "0,0,0";
  --contrast-primary-200: rgba(0, 0, 0, 0.87);
  --contrast-primary-200--rgb: "0,0,0";
  --contrast-primary-300: white;
  --contrast-primary-300--rgb: "255,255,255";
  --contrast-primary-400: white;
  --contrast-primary-400--rgb: "255,255,255";
  --contrast-primary-500: white;
  --contrast-primary-500--rgb: "255,255,255";
  --contrast-primary-600: white;
  --contrast-primary-600--rgb: "255,255,255";
  --contrast-primary-700: white;
  --contrast-primary-700--rgb: "255,255,255";
  --contrast-primary-800: white;
  --contrast-primary-800--rgb: "255,255,255";
  --contrast-primary-900: white;
  --contrast-primary-900--rgb: "255,255,255";
  --contrast-primary-A100: rgba(0, 0, 0, 0.87);
  --contrast-primary-A100--rgb: "0,0,0";
  --contrast-primary-A200: white;
  --contrast-primary-A200--rgb: "255,255,255";
  --contrast-primary-A400: white;
  --contrast-primary-A400--rgb: "255,255,255";
  --contrast-primary-A700: white;
  --contrast-primary-A700--rgb: "255,255,255";
  --primary-default: #3f51b5;
  --primary-default--rgb: "63,81,181";
  --primary-lighter: #c5cae9;
  --primary-lighter--rgb: "197,202,233";
  --primary-darker: #303f9f;
  --primary-darker--rgb: "48,63,159";
  --primary-text: #3f51b5;
  --primary-text--rgb: "63,81,181";
  --primary-default-contrast: white;
  --primary-default-contrast--rgb: "255,255,255";
  --primary-lighter-contrast: rgba(0, 0, 0, 0.87);
  --primary-lighter-contrast--rgb: "0,0,0";
  --primary-darker-contrast: white;
  --primary-darker-contrast--rgb: "255,255,255";
  --primary-50-contrast: rgba(0, 0, 0, 0.87);
  --primary-50-contrast--rgb: "0,0,0";
  --primary-100-contrast: rgba(0, 0, 0, 0.87);
  --primary-100-contrast--rgb: "0,0,0";
  --primary-200-contrast: rgba(0, 0, 0, 0.87);
  --primary-200-contrast--rgb: "0,0,0";
  --primary-300-contrast: white;
  --primary-300-contrast--rgb: "255,255,255";
  --primary-400-contrast: white;
  --primary-400-contrast--rgb: "255,255,255";
  --primary-500-contrast: white;
  --primary-500-contrast--rgb: "255,255,255";
  --primary-600-contrast: white;
  --primary-600-contrast--rgb: "255,255,255";
  --primary-700-contrast: white;
  --primary-700-contrast--rgb: "255,255,255";
  --primary-800-contrast: white;
  --primary-800-contrast--rgb: "255,255,255";
  --primary-900-contrast: white;
  --primary-900-contrast--rgb: "255,255,255";
  --primary-A100-contrast: rgba(0, 0, 0, 0.87);
  --primary-A100-contrast--rgb: "0,0,0";
  --primary-A200-contrast: white;
  --primary-A200-contrast--rgb: "255,255,255";
  --primary-A400-contrast: white;
  --primary-A400-contrast--rgb: "255,255,255";
  --primary-A700-contrast: white;
  --primary-A700-contrast--rgb: "255,255,255";
  --accent-50: #fce4ec;
  --accent-50--rgb: "252,228,236";
  --accent-100: #f8bbd0;
  --accent-100--rgb: "248,187,208";
  --accent-200: #f48fb1;
  --accent-200--rgb: "244,143,177";
  --accent-300: #f06292;
  --accent-300--rgb: "240,98,146";
  --accent-400: #ec407a;
  --accent-400--rgb: "236,64,122";
  --accent-500: #e91e63;
  --accent-500--rgb: "233,30,99";
  --accent-600: #d81b60;
  --accent-600--rgb: "216,27,96";
  --accent-700: #c2185b;
  --accent-700--rgb: "194,24,91";
  --accent-800: #ad1457;
  --accent-800--rgb: "173,20,87";
  --accent-900: #880e4f;
  --accent-900--rgb: "136,14,79";
  --accent-A100: #ff80ab;
  --accent-A100--rgb: "255,128,171";
  --accent-A200: #ff4081;
  --accent-A200--rgb: "255,64,129";
  --accent-A400: #f50057;
  --accent-A400--rgb: "245,0,87";
  --accent-A700: #c51162;
  --accent-A700--rgb: "197,17,98";
  --contrast-accent-50: rgba(0, 0, 0, 0.87);
  --contrast-accent-50--rgb: "0,0,0";
  --contrast-accent-100: rgba(0, 0, 0, 0.87);
  --contrast-accent-100--rgb: "0,0,0";
  --contrast-accent-200: rgba(0, 0, 0, 0.87);
  --contrast-accent-200--rgb: "0,0,0";
  --contrast-accent-300: rgba(0, 0, 0, 0.87);
  --contrast-accent-300--rgb: "0,0,0";
  --contrast-accent-400: rgba(0, 0, 0, 0.87);
  --contrast-accent-400--rgb: "0,0,0";
  --contrast-accent-500: white;
  --contrast-accent-500--rgb: "255,255,255";
  --contrast-accent-600: white;
  --contrast-accent-600--rgb: "255,255,255";
  --contrast-accent-700: white;
  --contrast-accent-700--rgb: "255,255,255";
  --contrast-accent-800: white;
  --contrast-accent-800--rgb: "255,255,255";
  --contrast-accent-900: white;
  --contrast-accent-900--rgb: "255,255,255";
  --contrast-accent-A100: rgba(0, 0, 0, 0.87);
  --contrast-accent-A100--rgb: "0,0,0";
  --contrast-accent-A200: white;
  --contrast-accent-A200--rgb: "255,255,255";
  --contrast-accent-A400: white;
  --contrast-accent-A400--rgb: "255,255,255";
  --contrast-accent-A700: white;
  --contrast-accent-A700--rgb: "255,255,255";
  --accent-default: #ff4081;
  --accent-default--rgb: "255,64,129";
  --accent-lighter: #ff80ab;
  --accent-lighter--rgb: "255,128,171";
  --accent-darker: #f50057;
  --accent-darker--rgb: "245,0,87";
  --accent-text: #ff4081;
  --accent-text--rgb: "255,64,129";
  --accent-default-contrast: white;
  --accent-default-contrast--rgb: "255,255,255";
  --accent-lighter-contrast: rgba(0, 0, 0, 0.87);
  --accent-lighter-contrast--rgb: "0,0,0";
  --accent-darker-contrast: white;
  --accent-darker-contrast--rgb: "255,255,255";
  --accent-50-contrast: rgba(0, 0, 0, 0.87);
  --accent-50-contrast--rgb: "0,0,0";
  --accent-100-contrast: rgba(0, 0, 0, 0.87);
  --accent-100-contrast--rgb: "0,0,0";
  --accent-200-contrast: rgba(0, 0, 0, 0.87);
  --accent-200-contrast--rgb: "0,0,0";
  --accent-300-contrast: rgba(0, 0, 0, 0.87);
  --accent-300-contrast--rgb: "0,0,0";
  --accent-400-contrast: rgba(0, 0, 0, 0.87);
  --accent-400-contrast--rgb: "0,0,0";
  --accent-500-contrast: white;
  --accent-500-contrast--rgb: "255,255,255";
  --accent-600-contrast: white;
  --accent-600-contrast--rgb: "255,255,255";
  --accent-700-contrast: white;
  --accent-700-contrast--rgb: "255,255,255";
  --accent-800-contrast: white;
  --accent-800-contrast--rgb: "255,255,255";
  --accent-900-contrast: white;
  --accent-900-contrast--rgb: "255,255,255";
  --accent-A100-contrast: rgba(0, 0, 0, 0.87);
  --accent-A100-contrast--rgb: "0,0,0";
  --accent-A200-contrast: white;
  --accent-A200-contrast--rgb: "255,255,255";
  --accent-A400-contrast: white;
  --accent-A400-contrast--rgb: "255,255,255";
  --accent-A700-contrast: white;
  --accent-A700-contrast--rgb: "255,255,255";
  --warn-50: #ffebee;
  --warn-50--rgb: "255,235,238";
  --warn-100: #ffcdd2;
  --warn-100--rgb: "255,205,210";
  --warn-200: #ef9a9a;
  --warn-200--rgb: "239,154,154";
  --warn-300: #e57373;
  --warn-300--rgb: "229,115,115";
  --warn-400: #ef5350;
  --warn-400--rgb: "239,83,80";
  --warn-500: #f44336;
  --warn-500--rgb: "244,67,54";
  --warn-600: #e53935;
  --warn-600--rgb: "229,57,53";
  --warn-700: #d32f2f;
  --warn-700--rgb: "211,47,47";
  --warn-800: #c62828;
  --warn-800--rgb: "198,40,40";
  --warn-900: #b71c1c;
  --warn-900--rgb: "183,28,28";
  --warn-A100: #ff8a80;
  --warn-A100--rgb: "255,138,128";
  --warn-A200: #ff5252;
  --warn-A200--rgb: "255,82,82";
  --warn-A400: #ff1744;
  --warn-A400--rgb: "255,23,68";
  --warn-A700: #d50000;
  --warn-A700--rgb: "213,0,0";
  --contrast-warn-50: rgba(0, 0, 0, 0.87);
  --contrast-warn-50--rgb: "0,0,0";
  --contrast-warn-100: rgba(0, 0, 0, 0.87);
  --contrast-warn-100--rgb: "0,0,0";
  --contrast-warn-200: rgba(0, 0, 0, 0.87);
  --contrast-warn-200--rgb: "0,0,0";
  --contrast-warn-300: rgba(0, 0, 0, 0.87);
  --contrast-warn-300--rgb: "0,0,0";
  --contrast-warn-400: rgba(0, 0, 0, 0.87);
  --contrast-warn-400--rgb: "0,0,0";
  --contrast-warn-500: white;
  --contrast-warn-500--rgb: "255,255,255";
  --contrast-warn-600: white;
  --contrast-warn-600--rgb: "255,255,255";
  --contrast-warn-700: white;
  --contrast-warn-700--rgb: "255,255,255";
  --contrast-warn-800: white;
  --contrast-warn-800--rgb: "255,255,255";
  --contrast-warn-900: white;
  --contrast-warn-900--rgb: "255,255,255";
  --contrast-warn-A100: rgba(0, 0, 0, 0.87);
  --contrast-warn-A100--rgb: "0,0,0";
  --contrast-warn-A200: white;
  --contrast-warn-A200--rgb: "255,255,255";
  --contrast-warn-A400: white;
  --contrast-warn-A400--rgb: "255,255,255";
  --contrast-warn-A700: white;
  --contrast-warn-A700--rgb: "255,255,255";
  --warn-default: #f44336;
  --warn-default--rgb: "244,67,54";
  --warn-lighter: #ffcdd2;
  --warn-lighter--rgb: "255,205,210";
  --warn-darker: #d32f2f;
  --warn-darker--rgb: "211,47,47";
  --warn-text: #f44336;
  --warn-text--rgb: "244,67,54";
  --warn-default-contrast: white;
  --warn-default-contrast--rgb: "255,255,255";
  --warn-lighter-contrast: rgba(0, 0, 0, 0.87);
  --warn-lighter-contrast--rgb: "0,0,0";
  --warn-darker-contrast: white;
  --warn-darker-contrast--rgb: "255,255,255";
  --warn-50-contrast: rgba(0, 0, 0, 0.87);
  --warn-50-contrast--rgb: "0,0,0";
  --warn-100-contrast: rgba(0, 0, 0, 0.87);
  --warn-100-contrast--rgb: "0,0,0";
  --warn-200-contrast: rgba(0, 0, 0, 0.87);
  --warn-200-contrast--rgb: "0,0,0";
  --warn-300-contrast: rgba(0, 0, 0, 0.87);
  --warn-300-contrast--rgb: "0,0,0";
  --warn-400-contrast: rgba(0, 0, 0, 0.87);
  --warn-400-contrast--rgb: "0,0,0";
  --warn-500-contrast: white;
  --warn-500-contrast--rgb: "255,255,255";
  --warn-600-contrast: white;
  --warn-600-contrast--rgb: "255,255,255";
  --warn-700-contrast: white;
  --warn-700-contrast--rgb: "255,255,255";
  --warn-800-contrast: white;
  --warn-800-contrast--rgb: "255,255,255";
  --warn-900-contrast: white;
  --warn-900-contrast--rgb: "255,255,255";
  --warn-A100-contrast: rgba(0, 0, 0, 0.87);
  --warn-A100-contrast--rgb: "0,0,0";
  --warn-A200-contrast: white;
  --warn-A200-contrast--rgb: "255,255,255";
  --warn-A400-contrast: white;
  --warn-A400-contrast--rgb: "255,255,255";
  --warn-A700-contrast: white;
  --warn-A700-contrast--rgb: "255,255,255";
  --foreground-base: black;
  --foreground-base--rgb: "0,0,0";
  --foreground-divider: rgba(0, 0, 0, 0.12);
  --foreground-divider--rgb: "0,0,0";
  --foreground-dividers: rgba(0, 0, 0, 0.12);
  --foreground-dividers--rgb: "0,0,0";
  --foreground-disabled: rgba(0, 0, 0, 0.38);
  --foreground-disabled--rgb: "0,0,0";
  --foreground-disabled-button: rgba(0, 0, 0, 0.26);
  --foreground-disabled-button--rgb: "0,0,0";
  --foreground-disabled-text: rgba(0, 0, 0, 0.38);
  --foreground-disabled-text--rgb: "0,0,0";
  --foreground-elevation: black;
  --foreground-elevation--rgb: "0,0,0";
  --foreground-hint-text: rgba(0, 0, 0, 0.38);
  --foreground-hint-text--rgb: "0,0,0";
  --foreground-secondary-text: rgba(0, 0, 0, 0.54);
  --foreground-secondary-text--rgb: "0,0,0";
  --foreground-icon: rgba(0, 0, 0, 0.54);
  --foreground-icon--rgb: "0,0,0";
  --foreground-icons: rgba(0, 0, 0, 0.54);
  --foreground-icons--rgb: "0,0,0";
  --foreground-text: rgba(0, 0, 0, 0.87);
  --foreground-text--rgb: "0,0,0";
  --foreground-slider-min: rgba(0, 0, 0, 0.87);
  --foreground-slider-min--rgb: "0,0,0";
  --foreground-slider-off: rgba(0, 0, 0, 0.26);
  --foreground-slider-off--rgb: "0,0,0";
  --foreground-slider-off-active: rgba(0, 0, 0, 0.38);
  --foreground-slider-off-active--rgb: "0,0,0";
  --background-status-bar: #e0e0e0;
  --background-status-bar--rgb: "224,224,224";
  --background-app-bar: #f5f5f5;
  --background-app-bar--rgb: "245,245,245";
  --background-background: #fafafa;
  --background-background--rgb: "250,250,250";
  --background-hover: rgba(0, 0, 0, 0.04);
  --background-hover--rgb: "0,0,0";
  --background-card: white;
  --background-card--rgb: "255,255,255";
  --background-dialog: white;
  --background-dialog--rgb: "255,255,255";
  --background-disabled-button: rgba(0, 0, 0, 0.12);
  --background-disabled-button--rgb: "0,0,0";
  --background-raised-button: white;
  --background-raised-button--rgb: "255,255,255";
  --background-focused-button: rgba(0, 0, 0, 0.12);
  --background-focused-button--rgb: "0,0,0";
  --background-selected-button: #e0e0e0;
  --background-selected-button--rgb: "224,224,224";
  --background-selected-disabled-button: #bdbdbd;
  --background-selected-disabled-button--rgb: "189,189,189";
  --background-disabled-button-toggle: #eeeeee;
  --background-disabled-button-toggle--rgb: "238,238,238";
  --background-unselected-chip: #e0e0e0;
  --background-unselected-chip--rgb: "224,224,224";
  --background-disabled-list-option: #eeeeee;
  --background-disabled-list-option--rgb: "238,238,238";
  --background-tooltip: #616161;
  --background-tooltip--rgb: "97,97,97";
}

body {
  color: var(--foreground-base, black);
  color: #3f51b5;
}
