@use 'sass:meta';

@use './theme/colors.scss' as colors;
@use './theme/sizes.scss' as sizes;

$default-theme: (
  color: meta.module-variables(colors),
  size: meta.module-variables(sizes),
);

@use '../../' as t with (
  $theme: $default-theme
);

$altTheme: (
  color: (
    primary: #ff0000,
  ),
  size: (
    root: 14px,
    small: 7px,
    regular: 14px,
  ),
);

:root {
  @include t.spread-variables();
}

body.alt {
  @include t.spread-variables($altTheme);
}

.test {
  color: map-get($altTheme, 'color', 'primary'); // `#ff0000` (not safe)

  color: t.get('$color.primary', $altTheme);   // #ff0000
  color: t.get('color.primary', $altTheme);      // var(--color-primary, #93b733)

  color: t.alpha('color.primary', 0.2, $altTheme);    // rgba(var(--color-primary--rgb, 147,183,51), 0.2)
  color: t.alpha('$color.primary', 0.2, $altTheme);   // rgba(147, 183, 51, 0.2)

  font-size: t.rem('size.small', $altTheme);    // calc(var(--size-small, 8px) / var(--size-base, 16px) * 1rem)
  font-size: t.rem('$size.small', $altTheme);    // 0.5rem
}
