@use 'sass:meta';
@use '../base/fonts.scss' as fonts;
@use '../base/weights.scss' as weights;
@use '../base/text-sizes.scss' as text-sizes;
@use '../base/leadings.scss' as leadings;
@use '../base/shadows.scss' as shadows;
@use '../base/spacing.scss' as spacing;
@use '../base/timings.scss' as timing;
@use '../base/durations.scss' as durations;
@use '../base/media.scss' as media;
@use './light.scss' as colors-light;
@use './dark.scss' as colors-dark;

$light: (
  color: meta.module-variables(colors-light),
  font: meta.module-variables(fonts),
  weight: meta.module-variables(weights),
  text-size: meta.module-variables(text-sizes),
  leading: meta.module-variables(leadings),
  shadow: meta.module-variables(shadows),
  duration: meta.module-variables(durations),
  spacing: meta.module-variables(spacing),
  timing: meta.module-variables(timing),
  media: meta.module-variables(media),
);

$dark: (
  color: meta.module-variables(colors-dark),
);
